src/opportunity-management/main/flows/Opportunity_Proposal_Conversion_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Flag_to_True</name>
        <label>Set Flag to True</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Lead_Flag</name>
        <label>Set Program Lead Flag</label>
        <locationX>534</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>ProgramLeadFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_flag</name>
        <label>Check flag</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Set_Has_Opp_Contact_Role_to_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Flag_Ok</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProgramLeadFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Has_Opp_Proposal_field_0</targetReference>
            </connector>
            <label>Is Flag Ok?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_for_Proposal_Stage</name>
        <label>Check if for Proposal Stage</label>
        <locationX>534</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Loop_Opportunity_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Client_Decision</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opportunity_Contact_Roles.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opportunity_Contact_Roles.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Decision-Maker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flag_to_True</targetReference>
            </connector>
            <label>For Client Decision</label>
        </rules>
        <rules>
            <name>For_Program_Lead</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opportunity_Contact_Roles.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opportunity_Contact_Roles.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Program_Lead_Flag</targetReference>
            </connector>
            <label>For Program Lead</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Proposal Conversion Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Proposal Conversion Triggered Flow</label>
    <loops>
        <name>Loop_Opportunity_Contact_Roles</name>
        <label>Loop Opportunity Contact Roles</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Opportunity_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_for_Proposal_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>List of Opportunity Contact Role</description>
        <name>Opportunity_Contact_Roles</name>
        <label>Opportunity Contact Roles</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunity_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Has_Opp_Contact_Role_to_false</name>
        <label>Set Has Opp Contact Role to false</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>Has_Proposal_Opportunity_Role__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Has_Opp_Proposal_field_0</name>
        <label>Update Has Opp Proposal field</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>Has_Proposal_Opportunity_Role__c</field>
            <value>
                <elementReference>Flag</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Contact_Roles</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProgramLeadFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
