src/core-crm/main/flows/Contact_Update_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Email_Validation_Status</name>
        <label>Assign Email Validation Status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactEmail_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phone_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mobile_Validation_Status</name>
        <label>Assign Mobile Validation Status</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactMobile_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Email_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Personal_Email_Validation_Status</name>
        <label>Assign Personal Email Validation Status</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactPersonalEmail_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Personal_Mobile_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Personal_Mobile_Validation_Status</name>
        <label>Assign Personal Mobile Validation Status</label>
        <locationX>50</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactPersonalMobile_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Phone_Validation_Status</name>
        <label>Assign Phone Validation Status</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mobile_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Email_Validation_Status</name>
        <label>Assign Work Email Validation Status</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactWorkEmail_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Phone_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Phone_Validation_Status</name>
        <label>Assign Work Phone Validation Status</label>
        <locationX>50</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactWorkPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Personal_Email_Is_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Is_Changed</name>
        <label>Email Is Changed</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Phone_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Validation_Status</targetReference>
            </connector>
            <label>Yes Email Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_Is_Changed</name>
        <label>Mobile Is Changed</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Work_Email_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mobile Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Mobile_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactMobile_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mobile_Validation_Status</targetReference>
            </connector>
            <label>Yes Mobile Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Personal_Email_Is_Changed</name>
        <label>Personal Email Is Changed</label>
        <locationX>182</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>Personal_Mobile_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Personal Email Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Personal_Email_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Personal_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Personal_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPersonalEmail_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Personal_Email_Validation_Status</targetReference>
            </connector>
            <label>Yes Personal Email Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Personal_Mobile_Is_Changed</name>
        <label>Personal Mobile Is Changed</label>
        <locationX>182</locationX>
        <locationY>2327</locationY>
        <defaultConnectorLabel>No Personal Mobile Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Personal_Mobile_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Personal_Mobile__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Personal_Mobile__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPersonalMobile_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Personal_Mobile_Validation_Status</targetReference>
            </connector>
            <label>Yes Personal Mobile Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Is_Changed</name>
        <label>Phone Is Changed</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Mobile_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Phone Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Phone_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPhone_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_Validation_Status</targetReference>
            </connector>
            <label>Yes Phone Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Email_Is_Changed</name>
        <label>Work Email Is Changed</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Work_Phone_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Work Email Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Work_Email_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__WorkEmail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.hed__WorkEmail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactWorkEmail_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Email_Validation_Status</targetReference>
            </connector>
            <label>Yes Work Email Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Phone_Is_Changed</name>
        <label>Work Phone Is Changed</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Personal_Email_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Work Phone Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Work_Phone_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__WorkPhone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.hed__WorkPhone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactWorkPhone_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Phone_Validation_Status</targetReference>
            </connector>
            <label>Yes Work Phone Is Changed</label>
        </rules>
    </decisions>
    <description>Contact record before update triggered flow</description>
    <interviewLabel>Contact Update Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Update Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Is_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hed__WorkEmail__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hed__WorkPhone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Personal_Email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Personal_Mobile__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
