src/core-crm/main/flows/Lead_to_Contact_Convertion_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Lead Is Converted</description>
        <name>Lead_Converted</name>
        <label>Lead Converted</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Is_Converted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Personal_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Personal_Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Description</targetReference>
            </connector>
            <label>Lead Is Converted</label>
        </rules>
    </decisions>
    <description>Map Personal Mobile, Personal Email, And linkedin Url</description>
    <interviewLabel>Lead to Contact Convertion Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead to Contact Convertion Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opp_Description</name>
        <label>Update Opp Description</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LinkedIn_Profile_URL__c</field>
            <value>
                <elementReference>$Record.LinkedIn_Profile_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>$Record.Personal_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Mobile__c</field>
            <value>
                <elementReference>$Record.Personal_Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__PreferredPhone__c</field>
            <value>
                <stringValue>Mobile Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Preferred_Email__c</field>
            <value>
                <stringValue>Personal Email</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
