src/core-crm/flows/Bookable_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Logs an Error to the Nebula Logger when Getting a data</description>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>2250</locationX>
        <locationY>1322</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Bookable_Appointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Bookable Appointmentment</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Saves the Error Action for Nebula Logger</description>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>2250</locationX>
        <locationY>1430</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Object_Related_Data_For_Service_Appointment</name>
        <label>Assign Object Related Data For Service Appointment</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Contact.Preferred_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Lead__r.Preferred_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DerivedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DerivedPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Schedule_Advisor_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Object_Related_Data_For_Service_Appointment_for_Contact</name>
        <label>Assign Object Related Data For Service Appointment for Contact</label>
        <locationX>1656</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DerrivedEmailContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Educational_Institution_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Object_Related_Data_For_Service_Appointment_for_Lead</name>
        <label>Assign Object Related Data For Service Appointment for Lead</label>
        <locationX>3482</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record.Preferred_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DerrivedEmailLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Schedule_Advisor_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Field_Visibility_Control</name>
        <label>Field Visibility for Lead</label>
        <locationX>3394</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Case_Number_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Name_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Name_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Number_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Name_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Name_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Visibility_Control</name>
        <label>Field Visibility Control</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Case_Number_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Name_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Name_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Number_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Name_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Name_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Visibility_Control_for_Contact</name>
        <label>Field Visibility Control for Contact</label>
        <locationX>1469</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Case_Number_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Name_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Name_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Number_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Name_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Name_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Service_Appointment_Data</name>
        <label>Prepare Service Appointment Data</label>
        <locationX>1986</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.LeadId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.My_Citizenship_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_option_best_describes_the_person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.My_Country_Of_Citizenship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_of_citizenship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.My_Country_Of_Residency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_of_residency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Appointment_Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_primary_topic_for_this_appointment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_any_additional_information_about_this_appointment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Marketing_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>This_person_has_provided_verbal_consent_to_receive_study_event_and_other_informa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Confirmation_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appointment_Scheduler_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation_Error_To_False</name>
        <label>Set Validation Error To False</label>
        <locationX>1854</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>ValidationField</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Selected_Appointment_Option_Domestic_Or_International</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation_Error_To_True</name>
        <label>Set Validation Error To True</label>
        <locationX>1458</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ValidationField</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Schedule_Advisor_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Description_Length</name>
        <label>Check Description Length</label>
        <locationX>1656</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Appointment_Recordtype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_the_Maximum_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Description_Length</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>32000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_Error_To_True</targetReference>
            </connector>
            <label>More than the Maximum Limit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Role</name>
        <label>Check User Role</label>
        <locationX>1150</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Which_Object_Is_It</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Has Access</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Have_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Super_User_Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Team_Leader_Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Agent_Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Concierge_Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Super_User_International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Team_Leader_International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Agent_International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Concierge_International</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Not_Have_Access_Screen</targetReference>
            </connector>
            <label>Do Not Have Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Selected_Appointment_Option_Domestic_Or_International</name>
        <label>Is Selected Appointment Option Domestic Or International?</label>
        <locationX>1854</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Prepare_Service_Appointment_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Show_Access_Error</name>
            <conditionLogic>((1 OR 2) AND (3 OR 4 OR 5 OR 6)) OR (7 AND (8 OR 9 OR 10 OR 11))</conditionLogic>
            <conditions>
                <leftValueReference>Which_option_best_describes_the_person</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Citizen or Permanent Resident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_option_best_describes_the_person</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand Citizen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Super_User_International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Team_Leader_International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Agent_International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Concierge_International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_option_best_describes_the_person</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International Student</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Super_User_Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Team_Leader_Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Agent_Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Concierge_Domestic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_Error_Screen</targetReference>
            </connector>
            <label>Show Access Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_A_Lead_Or_Contact_Associated_To_The_Case</name>
        <label>Is There A Lead Or Contact Associated To The Case?</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Is_There_An_Email_Or_Mobile_For_The_Associated_Contact_Or_Lead_Of_The_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES, Proceed</defaultConnectorLabel>
        <rules>
            <name>NO_Show_Error_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Lead_Or_Contact_Screen</targetReference>
            </connector>
            <label>NO, Show Error Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_An_Email_Or_Mobile_For_Contact</name>
        <label>Is There An Email Or Mobile For Contact</label>
        <locationX>1469</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Object_Related_Data_For_Service_Appointment_for_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES, Proceed</defaultConnectorLabel>
        <rules>
            <name>NO_Show_Error_Message_For_Contact</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.QUT_Learner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.QUT_Staff_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Or_Email_Is_Empty</targetReference>
            </connector>
            <label>NO, Show Error Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_An_Email_Or_Mobile_For_Lead</name>
        <label>Is There An Email Or Mobile For Lead</label>
        <locationX>3394</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Object_Related_Data_For_Service_Appointment_for_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES, Proceed</defaultConnectorLabel>
        <rules>
            <name>NO_Show_Error_Message_For_Lead</name>
            <conditionLogic>((1 AND 3 ) OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Or_Email_Is_Empty</targetReference>
            </connector>
            <label>NO, Show Error Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_An_Email_Or_Mobile_For_The_Associated_Contact_Or_Lead_Of_The_Case</name>
        <label>Is There An Email Or Mobile For The Associated Contact Or Lead Of The Case?</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Object_Related_Data_For_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES, Proceed</defaultConnectorLabel>
        <rules>
            <name>NO_Show_Error_Message_Email_Mobile</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4) OR 5) AND ((6 AND 7) OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Contact.Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Contact.QUT_Learner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Contact.QUT_Staff_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Contact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Lead__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Lead__r.Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Lead__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Or_Email_Is_Empty</targetReference>
            </connector>
            <label>NO, Show Error Message</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to determine which object is the passed record Id</description>
        <name>Which_Object_Is_It</name>
        <label>Which Object Is It?</label>
        <locationX>2250</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Unkown Object</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Visibility_Control</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Visibility_Control_for_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Field_Visibility_Control</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AppointmentTopic</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appointment_Topic__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CitizenshipCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>My_Country_Of_Citizenship__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CitizenshipStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>My_Citizenship_Status__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResidencyCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>My_Country_Of_Residency__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DerivedEmail</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Get_Case_Record.Contact.Email})), {!Get_Case_Record.Contact.Email},
    IF(
        NOT(ISBLANK({!Get_Case_Record.Contact.Work_Email__c})), {!Get_Case_Record.Contact.Work_Email__c},
        IF(
            NOT(ISBLANK({!Get_Case_Record.Contact.QUT_Learner_Email__c})), {!Get_Case_Record.Contact.QUT_Learner_Email__c},
            IF(
                NOT(ISBLANK({!Get_Case_Record.Contact.QUT_Staff_Email__c})), {!Get_Case_Record.Contact.QUT_Staff_Email__c},
                IF(
                    NOT(ISBLANK({!Get_Case_Record.Lead__r.Email})), {!Get_Case_Record.Lead__r.Email},
                    IF(
                        NOT(ISBLANK({!Get_Case_Record.Lead__r.Work_Email__c})), {!Get_Case_Record.Lead__r.Work_Email__c},
                        null
                    )
                )
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>DerivedPhone</name>
        <dataType>String</dataType>
        <expression>IF( 
    NOT(ISBLANK({!Get_Case_Record.Contact.MobilePhone})), {!Get_Case_Record.Contact.MobilePhone}, 
    IF( 
        NOT(ISBLANK({!Get_Case_Record.Lead__r.MobilePhone})), {!Get_Case_Record.Lead__r.MobilePhone}, 
        null
    )
)</expression>
    </formulas>
    <formulas>
        <name>DerrivedEmailContact</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Get_Contact_Record.Email})), {!Get_Contact_Record.Email},
    IF(
        NOT(ISBLANK({!Get_Contact_Record.Work_Email__c})), {!Get_Contact_Record.Work_Email__c},
        IF(
            NOT(ISBLANK({!Get_Contact_Record.QUT_Learner_Email__c})),{!Get_Contact_Record.QUT_Learner_Email__c},
            IF(
                NOT(ISBLANK({!Get_Contact_Record.QUT_Staff_Email__c})), {!Get_Contact_Record.QUT_Staff_Email__c},
                        null
           )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>DerrivedEmailLead</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Get_Lead_Record.Email})),{!Get_Lead_Record.Email},
    IF(
        NOT(ISBLANK({!Get_Lead_Record.Work_Email__c})),{!Get_Lead_Record.Work_Email__c},
                null
    )
)</expression>
    </formulas>
    <formulas>
        <name>Description_Length</name>
        <dataType>Number</dataType>
        <expression>LEN({!Please_provide_any_additional_information_about_this_appointment})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Bookable Appointments {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Bookable Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <description>Get Case Record based from Record Id</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_A_Lead_Or_Contact_Associated_To_The_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Record based from Record Id</description>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>1469</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_An_Email_Or_Mobile_For_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Educational_Institution_Record_Type_Id</name>
        <label>Get Educational Institution Record Type Id</label>
        <locationX>1656</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QUT_Account_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Educational_Institution</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>educationalInstitutionRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get Lead Record based from Record Id</description>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>3394</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_An_Email_Or_Mobile_For_Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QUT_Account_Id</name>
        <label>Get QUT Account Id</label>
        <locationX>1656</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Schedule_Advisor_Appointment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QUT</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>educationalInstitutionRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_Recordtype</name>
        <label>Get Service Appointment Recordtype</label>
        <locationX>1854</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Validation_Error_To_False</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Future_Student_Appointment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceAppointment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ServiceAppointmentRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Access_Error_Screen</name>
        <label>Access Error Screen</label>
        <locationX>1722</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccessErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;You are unable to schedule an appointment outside of your team.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_Not_Have_Access_Screen</name>
        <label>Do Not Have Access Screen</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoAccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;Please be advise that you do not have permission to schedule appointment. If you have concern, contact your administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>2250</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mobile_Or_Email_Is_Empty</name>
        <label>Mobile Or Email Is Empty</label>
        <locationX>2250</locationX>
        <locationY>2198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mobile_Or_Email_Is_Empty_Error_Message_Case</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;Before an appointment can be scheduled, please ensure that the following fields are complete on the lead / contact - Email, Mobile.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mobile_Or_Email_Is_Empty_Error_Message_Lead</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 0, 30);&quot;&gt;Before an appointment can be scheduled, please ensure that the following fields are complete on the lead - Email, Mobile.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mobile_Or_Email_Is_Empty_Error_Message_Contact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 0, 30);&quot;&gt;Before an appointment can be scheduled, please ensure that the following fields are complete on the Contact - Email, Mobile.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contact_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Lead_Or_Contact_Screen</name>
        <label>No Lead Or Contact Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Lead_Or_Contact_Screen_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;An appointment can not be created from a case until a lead or contact is associated to the case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Schedule_Advisor_Appointment</name>
        <label>Schedule Advisor Appointment</label>
        <locationX>1656</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Description_Length</targetReference>
        </connector>
        <fields>
            <name>HeaderTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Schedule Advisor Appointment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Schedule_Advisor_Appointment_Description</name>
            <fieldText>&lt;p&gt;Please complete the following to schedule an appointment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Schedule_Advisor_Appointment_note</name>
            <fieldText>&lt;p&gt;Please note: Adviser appointments are only available to future students interested in undergraduate study.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Persons_Details_Section</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 24px;&quot;&gt;Person&apos;s Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseNumber</elementReference>
            </defaultValue>
            <fieldText>Case Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Case_Number_Visibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactName</elementReference>
            </defaultValue>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Contact_Name_Visibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case_Record.ContactId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Contact_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadName</elementReference>
            </defaultValue>
            <fieldText>Lead Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Name_Visibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Lead_Record.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case_Record.Lead__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Which_option_best_describes_the_person</name>
            <choiceReferences>CitizenshipStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CitizenshipStatus</elementReference>
            </defaultValue>
            <fieldText>Which option best describes the person?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_of_citizenship</name>
            <choiceReferences>CitizenshipCountry</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CitizenshipCountry</elementReference>
            </defaultValue>
            <fieldText>Country of citizenship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_option_best_describes_the_person</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>International Student</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Country_of_residency</name>
            <choiceReferences>ResidencyCountry</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ResidencyCountry</elementReference>
            </defaultValue>
            <fieldText>Country of residency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_option_best_describes_the_person</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>International Student</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AppointmentDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(1, 118, 211); background-color: rgb(255, 255, 255);&quot;&gt;Appointment Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_the_primary_topic_for_this_appointment</name>
            <choiceReferences>AppointmentTopic</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AppointmentTopic</elementReference>
            </defaultValue>
            <fieldText>What is the primary topic for this appointment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_provide_any_additional_information_about_this_appointment</name>
            <defaultValue>
                <stringValue>{!Please_provide_any_additional_information_about_this_appointment}</stringValue>
            </defaultValue>
            <fieldText>Please provide any additional information about this appointment.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(221, 27, 27);&quot;&gt;* Please enter additional information with maximum limit of 32000.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ValidationField</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>This_person_has_provided_verbal_consent_to_receive_study_event_and_other_informa</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>This_person_has_provided_verbal_consent_to_receive_study_event_and_other_informa</elementReference>
            </defaultValue>
            <fieldText>This person has provided verbal consent to receive study, event and other information from QUT.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1024</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Role</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Appointment_Scheduler_Subflow</name>
        <label>Appointment Scheduler Subflow</label>
        <locationX>1986</locationX>
        <locationY>1646</locationY>
        <flowName>Appointment_Scheduler</flowName>
        <inputAssignments>
            <name>fromWebsite</name>
            <value>
                <elementReference>fromWebsite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>ServiceAppointment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Number_Disabled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Number_Visibility</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Name_Disabled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Name_Visibility</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>educationalInstitutionRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntityDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntityDefinition</objectType>
    </variables>
    <variables>
        <name>fromWebsite</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Lead_Name_Disabled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Name_Visibility</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Set_Parent_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidationField</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
