src/core-crm/flows/Bookable_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Object_Related_Data_For_Service_Appointment</name>
        <label>Assign Object Related Data For Service Appointment</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Contact.Preferred_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Lead__r.Preferred_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DerivedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DerivedPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_Advisor_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Visibility_Control</name>
        <label>Field Visibility Control</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Case_Number_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Name_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Name_Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Number_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Name_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Name_Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Service_Appointment_Data</name>
        <label>Prepare Service Appointment Data</label>
        <locationX>1073</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.LeadId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.My_Citizenship_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_best_option_describe_you</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.My_Country_Of_Citizenship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_of_citizenship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.My_Country_Of_Residency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_of_residency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Appointment_Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_option_best_describes_what_you_would_like_to_talk_about</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_any_additional_information_to_help_us_prepare_for_your_appointmen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Marketing_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_would_like_to_receive_information_about_QUT_and_upcoming_events</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appointment_Scheduler_Subflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_Role</name>
        <label>Check User Role</label>
        <locationX>561</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Which_Object_Is_It</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Has Access</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Have_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Super_User_Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Team_Leader_Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Agent_Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Concierge_Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Super_User_International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Team_Leader_International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Agent_International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Future_Student_Concierge_International</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Not_Have_Access_Screen</targetReference>
            </connector>
            <label>Do Not Have Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_A_Lead_Or_Contact_Associated_To_The_Case</name>
        <label>Is There A Lead Or Contact Associated To The Case?</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Is_There_An_Email_Or_Mobile_For_The_Associated_Contact_Or_Lead_Of_The_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES, Proceed</defaultConnectorLabel>
        <rules>
            <name>NO_Show_Error_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Lead_Or_Contact_Screen</targetReference>
            </connector>
            <label>NO, Show Error Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_An_Email_Or_Mobile_For_The_Associated_Contact_Or_Lead_Of_The_Case</name>
        <label>Is There An Email Or Mobile For The Associated Contact Or Lead Of The Case?</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Object_Related_Data_For_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES, Proceed</defaultConnectorLabel>
        <rules>
            <name>NO_Show_Error_Message_Email_Mobile</name>
            <conditionLogic>((1 AND 2 AND 3 AND 4) OR 5) AND ((6 AND 7) OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Contact.Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Contact.QUT_Learner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Contact.QUT_Staff_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Contact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Lead__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Lead__r.Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Lead__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Or_Email_Is_Empty</targetReference>
            </connector>
            <label>NO, Show Error Message</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to determine which object is the passed record Id</description>
        <name>Which_Object_Is_It</name>
        <label>Which Object Is It?</label>
        <locationX>1073</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Unknown Object</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Visibility_Control</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Record</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AppointmentTopic</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appointment_Topic__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CitizenshipCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>My_Country_Of_Citizenship__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CitizenshipStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>My_Citizenship_Status__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResidencyCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>My_Country_Of_Residency__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DerivedEmail</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Get_Case_Record.Contact.Email})), {!Get_Case_Record.Contact.Email},
    IF(
        NOT(ISBLANK({!Get_Case_Record.Contact.Work_Email__c})), {!Get_Case_Record.Contact.Work_Email__c},
        IF(
            NOT(ISBLANK({!Get_Case_Record.Contact.QUT_Learner_Email__c})), {!Get_Case_Record.Contact.QUT_Learner_Email__c},
            IF(
                NOT(ISBLANK({!Get_Case_Record.Contact.QUT_Staff_Email__c})), {!Get_Case_Record.Contact.QUT_Staff_Email__c},
                IF(
                    NOT(ISBLANK({!Get_Case_Record.Lead__r.Email})), {!Get_Case_Record.Lead__r.Email},
                    IF(
                        NOT(ISBLANK({!Get_Case_Record.Lead__r.Work_Email__c})), {!Get_Case_Record.Lead__r.Work_Email__c},
                        null
                    )
                )
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>DerivedPhone</name>
        <dataType>String</dataType>
        <expression>IF( 
    NOT(ISBLANK({!Get_Case_Record.Contact.MobilePhone})), {!Get_Case_Record.Contact.MobilePhone}, 
    IF( 
        NOT(ISBLANK({!Get_Case_Record.Lead__r.MobilePhone})), {!Get_Case_Record.Lead__r.MobilePhone}, 
        null
    )
)</expression>
    </formulas>
    <interviewLabel>Bookable Appointments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bookable Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <description>Get Case Record based from Record Id</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_A_Lead_Or_Contact_Associated_To_The_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Record based from Record Id</description>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Schedule_Advisor_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Lead Record based from Record Id</description>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Schedule_Advisor_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Do_Not_Have_Access_Screen</name>
        <label>Do Not Have Access Screen</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoAccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;Please be advise that you do not have permission to schedule appointment. If you have concern, contact your administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mobile_Or_Email_Is_Empty</name>
        <label>Mobile Or Email Is Empty</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mobile_Or_Email_Is_Empty_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;Before an appointment can be scheduled, please ensure that the following fields are complete on the lead / contact - Email, Mobile.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Lead_Or_Contact_Screen</name>
        <label>No Lead Or Contact Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Lead_Or_Contact_Screen_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;An appointment can not be created from a case until a lead or contact is associated to the case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Schedule_Advisor_Appointment</name>
        <label>Schedule Advisor Appointment</label>
        <locationX>1073</locationX>
        <locationY>1250</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Prepare_Service_Appointment_Data</targetReference>
        </connector>
        <fields>
            <name>HeaderTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Schedule Advisor Appointment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Schedule_Advisor_Appointment_Description</name>
            <fieldText>&lt;p&gt;We just have a few questions before booking you in for a 30-minute appointment with us.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Your_Details_Section</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(1, 118, 211);&quot;&gt;Your Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseNumber</elementReference>
            </defaultValue>
            <fieldText>Case Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Case_Number_Visibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactName</elementReference>
            </defaultValue>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contact_Name_Visibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadName</elementReference>
            </defaultValue>
            <fieldText>Lead Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Name_Visibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_best_option_describe_you</name>
            <choiceReferences>CitizenshipStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What best option describe you?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_of_citizenship</name>
            <choiceReferences>CitizenshipCountry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country of citizenship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_best_option_describe_you</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>International Student</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Country_of_residency</name>
            <choiceReferences>ResidencyCountry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country of residency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_best_option_describe_you</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>International Student</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AppointmentDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(1, 118, 211); background-color: rgb(255, 255, 255);&quot;&gt;Appointment Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_option_best_describes_what_you_would_like_to_talk_about</name>
            <choiceReferences>AppointmentTopic</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which option best describes what you would like to talk about?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appointment_Details_Note</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(1, 118, 211);&quot;&gt;NOTE: If you have more than one topic you would like to discuss please detail this below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_provide_any_additional_information_to_help_us_prepare_for_your_appointmen</name>
            <fieldText>Please provide any additional information to help us prepare for your appointment.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>I_would_like_to_receive_information_about_QUT_and_upcoming_events</name>
            <dataType>Boolean</dataType>
            <fieldText>I would like to receive information about QUT and upcoming events</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>435</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Role</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Appointment_Scheduler_Subflow</name>
        <label>Appointment Scheduler Subflow</label>
        <locationX>1073</locationX>
        <locationY>1466</locationY>
        <flowName>Appointment_Scheduler</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>ServiceAppointment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Case_Number_Disabled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Number_Visibility</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Name_Disabled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Name_Visibility</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntityDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntityDefinition</objectType>
    </variables>
    <variables>
        <name>Lead_Name_Disabled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Name_Visibility</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
