src/core-crm/flows/Bookable_Appointment_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>CancelChoice</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>RescheduleChoice</name>
        <choiceText>Reschedule</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reschedule</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Update_Appointment_Choice_Decision</name>
        <label>Update Appointment Choice Decision</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Appointment_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reschedule</defaultConnectorLabel>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do_for_your_appointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancelChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Appointment_Subflow</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bookable Appointment Update {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Bookable Appointment Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <screens>
        <name>Update_Appointment_Action_Screen</name>
        <label>Update Appointment Action Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Appointment_Choice_Decision</targetReference>
        </connector>
        <fields>
            <name>What_would_you_like_to_do_for_your_appointment</name>
            <choiceReferences>CancelChoice</choiceReferences>
            <choiceReferences>RescheduleChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CancelChoice</defaultSelectedChoiceReference>
            <fieldText>You are requesting to change your booked Advisor Appointment. What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Appointment_Action_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cancel_Appointment_Subflow</name>
        <label>Cancel Appointment Subflow</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <flowName>Cancel_Appointment</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reschedule_Appointment_Subflow</name>
        <label>Reschedule Appointment Subflow</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <flowName>Reschedule_Appointment</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
