src/core-crm/flows/Bookable_Appointment_Web.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Logs an Error to the Nebula Logger when Getting a data</description>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>1580</locationX>
        <locationY>938</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Bookable_Appointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Bookable Appointmentment</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Saves the Error Action for Nebula Logger</description>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>1580</locationX>
        <locationY>1046</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Prepare_Service_Appointment_Data</name>
        <label>Prepare Service Appointment Data</label>
        <locationX>1316</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.My_Citizenship_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_option_best_describes_you</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.My_Country_Of_Citizenship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_of_citizenship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.My_Country_Of_Residency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_of_residency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Appointment_Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_option_best_describes_what_you_would_like_to_talk_about</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_any_additional_information_to_help_us_prepare_for_your_appointmen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Web_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Web_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Web_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Web_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Web_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Web_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Web_Mobile_Locale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Web_Mobile_Locale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Web_Mobile_No_Locale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Web_Mobile_No_Locale.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Confirmation_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appointment_Scheduler_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation_Error_To_True</name>
        <label>Set Validation Error To True</label>
        <locationX>1052</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>ValidationField</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_Advisor_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Validation_Error_Assignment</name>
        <label>Validation Error Assignment</label>
        <locationX>1316</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>ValidationField</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Website_Override_Values</name>
        <label>Website Override Values</label>
        <locationX>1316</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Web_Mobile_No_Locale.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Web_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Service_Appointment_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Profile</name>
        <label>Check Profile</label>
        <locationX>986</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Schedule_Advisor_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Has Access</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Have_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Study Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Not_Have_Access_Screen</targetReference>
            </connector>
            <label>Do Not Have Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Validation_Length</name>
        <label>Check Validation Length</label>
        <locationX>1184</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Validation_Error_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_the_Maximum_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Description_Length</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>32000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_Error_To_True</targetReference>
            </connector>
            <label>More than the Maximum Limit</label>
        </rules>
    </decisions>
    <description>Bookable Appointment for Web</description>
    <dynamicChoiceSets>
        <name>AppointmentTopic</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appointment_Topic__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CitizenshipCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>My_Country_Of_Citizenship__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CitizenshipStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>My_Citizenship_Status__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResidencyCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>My_Country_Of_Residency__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Web_Mobile_Locale_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Web_Mobile_Locale__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Description_Length</name>
        <dataType>Number</dataType>
        <expression>LEN({!Please_provide_any_additional_information_to_help_us_prepare_for_your_appointmen})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Bookable Appointment Web {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bookable Appointment Web</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>1316</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment_RecordType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QUT</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_Type_Id</name>
        <label>Get Account Record Type Id</label>
        <locationX>1316</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Educational_Institution</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>accountRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_RecordType</name>
        <label>Get Service Appointment RecordType</label>
        <locationX>1316</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_Override_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Future_Student_Appointment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceAppointment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ServiceAppointmentRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Do_Not_Have_Access_Screen</name>
        <label>Do Not Have Access Screen</label>
        <locationX>788</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoAccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;Please be advise that you do not have permission to schedule appointment. If you have concern, contact your administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>1580</locationX>
        <locationY>1154</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_Advisor_Appointment</name>
        <label>Schedule Advisor Appointment</label>
        <locationX>1184</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Validation_Length</targetReference>
        </connector>
        <fields>
            <name>HeaderTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Schedule Advisor Appointment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Schedule_Advisor_Appointment_Description</name>
            <fieldText>&lt;p&gt;We just have a few questions before booking you in for a 30-minute appointment with us.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Schedule_Advisor_Appointment_Note</name>
            <fieldText>&lt;p&gt;Please note: Advisor Appointments are only for Domestic Undergrad and International Undergrad and Post Grad Future Students&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Your_Details_Section</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(1, 118, 211);&quot;&gt;Your Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Web_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Web_First_Name</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;* Please enter first name with a maximum limit of 40.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Web_First_Name}) &lt; 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Web_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Web_Last_Name</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;* Please enter last name with a maximum limit of 80.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Web_Last_Name}) &lt; 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Web_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Web_Email.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Web_Mobile_Locale</name>
            <choiceReferences>Web_Mobile_Locale_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Web_Mobile_Locale</elementReference>
            </defaultValue>
            <fieldText>Mobile Locale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Web_Mobile_No_Locale</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile (eg 423288654)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^(\+)?(?:[0-9] ?(?:-)?){3,14}[0-9]$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Web_Mobile_No_Locale.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Which_option_best_describes_you</name>
            <choiceReferences>CitizenshipStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Which_option_best_describes_you</elementReference>
            </defaultValue>
            <fieldText>Which option best describes you?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_of_citizenship</name>
            <choiceReferences>CitizenshipCountry</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Country_of_citizenship</elementReference>
            </defaultValue>
            <fieldText>Country of citizenship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_option_best_describes_you</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>International Student</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Country_of_residency</name>
            <choiceReferences>ResidencyCountry</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Country_of_residency</elementReference>
            </defaultValue>
            <fieldText>Country of residency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_option_best_describes_you</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>International Student</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AppointmentDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(1, 118, 211); background-color: rgb(255, 255, 255);&quot;&gt;Appointment Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_option_best_describes_what_you_would_like_to_talk_about</name>
            <choiceReferences>AppointmentTopic</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Which_option_best_describes_what_you_would_like_to_talk_about</elementReference>
            </defaultValue>
            <fieldText>Which option best describes what you would like to talk about?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appointment_Details_Note</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(1, 118, 211);&quot;&gt;NOTE: If you have more than one topic you would like to discuss please detail this below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_provide_any_additional_information_to_help_us_prepare_for_your_appointmen</name>
            <defaultValue>
                <stringValue>{!Please_provide_any_additional_information_to_help_us_prepare_for_your_appointmen}</stringValue>
            </defaultValue>
            <fieldText>Please provide any additional information to help us prepare for your appointment.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Info_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;* Please enter additional information  with a maximum limit of 32000.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ValidationField</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Privacy_Collection_Text</name>
            <fieldText>&lt;p&gt;Please refer to the &lt;a href=&quot;https://www.qut.edu.au/additional/privacy&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Privacy Collection Notice &lt;/a&gt;for more information. By submitting this form, you understand that QUT is collecting your personal information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>860</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Appointment_Scheduler_Subflow</name>
        <label>Appointment Scheduler Subflow</label>
        <locationX>1316</locationX>
        <locationY>1154</locationY>
        <flowName>Appointment_Scheduler</flowName>
        <inputAssignments>
            <name>fromWebsite</name>
            <value>
                <elementReference>isWebsite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>ServiceAppointment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntityDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntityDefinition</objectType>
    </variables>
    <variables>
        <name>isWebsite</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Set_Parent_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidationField</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Web_Email_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
