src/core-crm/flows/Contact_Update_Preferred_Full_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Chosen_to_Given</name>
        <label>Assign Chosen to Given</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Preferred_Given_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreferredGivenName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Salutation_Label</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Preferred_Full_Name</name>
        <label>Assign Preferred Full Name</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.Preferred_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferredFullName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Preferred_Given_Name</name>
        <label>Assign Preferred Given Name</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PreferredGivenName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Preferred_Given_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Salutation_Label</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Preferred_Given_Name_Blank</name>
        <label>Preferred Given Name Blank?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Assign_Preferred_Given_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Given_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Preferred_Given_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chosen_to_Given</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to update preferred full name field of contact.</description>
    <formulas>
        <name>PreferredFullName</name>
        <dataType>String</dataType>
        <expression>{!Get_Salutation_Label.Label} &amp; &quot; &quot; &amp; {!PreferredGivenName} &amp; &quot; &quot; &amp; {!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Contact Update Preferred Full Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Update Preferred Full Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Salutation_Label</name>
        <label>Get Salutation Label</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Preferred_Full_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Salutation</elementReference>
            </value>
        </filters>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.Name.Salutation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Preferred_Given_Name_Blank</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PreferredGivenName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
