src/core-crm/flows/Contact_Update_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Mobile_Validation_Status</name>
        <label>Assign Mobile Validation Status</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactMobile_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Work_Phone_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_Validation_Status</name>
        <label>Assign Phone Validation Status</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Mobile_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Phone_Validation_Status</name>
        <label>Assign Work Phone Validation Status</label>
        <locationX>314</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactWorkPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.hed__WorkPhone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ContactMobile_Phone_Assignment</name>
        <label>ContactMobile Phone Assignment</label>
        <locationX>578</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactMobile_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unvalidated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Work_Phone_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactMobile_Unvalidated</name>
        <label>ContactMobile Unvalidated</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactMobile_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unvalidated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileFullNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Phone_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactPhone_Assignment</name>
        <label>ContactPhone Assignment</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unvalidated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Mobile_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactPhone_Unvalidated</name>
        <label>ContactPhone Unvalidated</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unvalidated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneFullNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mobile_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactWork_Phone_Assignment</name>
        <label>ContactWork Phone Assignment</label>
        <locationX>578</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactWorkPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unvalidated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.hed__WorkPhone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ContactWorkPhone_Unvalidated</name>
        <label>ContactWorkPhone Unvalidated</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactWorkPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unvalidated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Mobile_Is_Changed</name>
        <label>Mobile Is Changed</label>
        <locationX>446</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Work_Phone_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mobile Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>ContactMobile_Is_Changed</name>
            <conditionLogic>(1 OR 4 OR 5) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactMobile_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactMobile_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactMobile_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mobile_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mobile_Locale</targetReference>
            </connector>
            <label>ContactMobile Is Changed</label>
        </rules>
        <rules>
            <name>Yes_Mobile_Is_Changed</name>
            <conditionLogic>2 AND (4 OR 5) AND (1 OR 3 OR (6 AND 7 ) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mobile_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactMobile_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactMobile_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactMobile_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactMobile_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mobile_Validation_Status</targetReference>
            </connector>
            <label>Yes Mobile Is Changed</label>
        </rules>
        <rules>
            <name>ContactMobile_Locale_Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mobile_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mobile_No_Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactMobile_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactMobile_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMobile_Phone_Assignment</targetReference>
            </connector>
            <label>ContactMobile Locale Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Is_Changed</name>
        <label>Phone Is Changed</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Mobile_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Phone Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>ContactPhone_Is_Changed</name>
            <conditionLogic>(1 OR 6 OR (4 AND 5)) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactPhone_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPhone_Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get</targetReference>
            </connector>
            <label>ContactPhone Is Changed</label>
        </rules>
        <rules>
            <name>Yes_Phone_Is_Changed</name>
            <conditionLogic>2 AND (4 OR 5) AND (1 OR 6 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPhone_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPhone_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPhone_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPhone_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_Validation_Status</targetReference>
            </connector>
            <label>Yes Phone Is Changed</label>
        </rules>
        <rules>
            <name>ContactPhone_Locale_Remove</name>
            <conditionLogic>(1 OR 5) AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone_No_Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactPhone_Assignment</targetReference>
            </connector>
            <label>ContactPhone Locale Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Phone_Is_Changed</name>
        <label>Work Phone Is Changed</label>
        <locationX>446</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>No Work Phone Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>ContactWorkPhone_Is_Changed</name>
            <conditionLogic>(1 OR 4 OR 5) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactWorkPhone_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactWorkPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactWorkPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Work_Phone_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Locale</targetReference>
            </connector>
            <label>ContactWorkPhone Is Changed</label>
        </rules>
        <rules>
            <name>Yes_Work_Phone_Is_Changed</name>
            <conditionLogic>2 AND (4 OR 5) AND (1 OR 3 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Phone_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactWorkPhone_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactWorkPhone_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactWorkPhone_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactWorkPhone_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Phone_Validation_Status</targetReference>
            </connector>
            <label>Yes Work Phone Is Changed</label>
        </rules>
        <rules>
            <name>ContactWorkPhone_Locale_Remove</name>
            <conditionLogic>(1 OR 5) AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Phone_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Work_Phone_No_Locale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactWorkPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactWorkPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactWork_Phone_Assignment</targetReference>
            </connector>
            <label>ContactWorkPhone Locale Remove</label>
        </rules>
    </decisions>
    <description>Contact record before update triggered flow</description>
    <formulas>
        <name>MobileFullNumber</name>
        <dataType>String</dataType>
        <expression>{!CountryLocaleNumber}&amp;TEXT(VALUE(IF(MobileHasLocale,TRIM(RIGHT(TEXT(VALUE({!$Record.Mobile_No_Locale__c})),LEN(TEXT(VALUE({!$Record.Mobile_No_Locale__c}))) - LEN({!CountryLocaleNumber}))),{!$Record.Mobile_No_Locale__c})))</expression>
    </formulas>
    <formulas>
        <name>MobileHasLocale</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEFT(TEXT(VALUE({!$Record.Mobile_No_Locale__c})),LEN({!CountryLocaleNumber})) = {!CountryLocaleNumber},  TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>PhoneFullNumber</name>
        <dataType>String</dataType>
        <expression>{!CountryLocaleNumber}&amp;TEXT(VALUE(IF(PhoneHasLocale,TRIM(RIGHT(TEXT(VALUE({!$Record.Phone_No_Locale__c})),LEN(TEXT(VALUE({!$Record.Phone_No_Locale__c}))) - LEN({!CountryLocaleNumber}))),{!$Record.Phone_No_Locale__c})))</expression>
    </formulas>
    <formulas>
        <name>PhoneHasLocale</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEFT(TEXT(VALUE({!$Record.Phone_No_Locale__c})),LEN({!CountryLocaleNumber})) = {!CountryLocaleNumber},  TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>WorkFullNumber</name>
        <dataType>String</dataType>
        <expression>{!CountryLocaleNumber}&amp;TEXT(VALUE(IF(WorkHasLocale,TRIM(RIGHT(TEXT(VALUE({!$Record.Work_Phone_No_Locale__c})),LEN(TEXT(VALUE({!$Record.Work_Phone_No_Locale__c}))) - LEN({!CountryLocaleNumber}))),{!$Record.Work_Phone_No_Locale__c})))</expression>
    </formulas>
    <formulas>
        <name>WorkHasLocale</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEFT(TEXT(VALUE({!$Record.Work_Phone_No_Locale__c})),LEN({!CountryLocaleNumber})) = {!CountryLocaleNumber},  TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Contact Update Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Update Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get Phone Locale</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactPhone_Unvalidated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Display_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone_No_Locale__c</elementReference>
            </value>
        </filters>
        <object>Mobile_Country_Code__mdt</object>
        <outputAssignments>
            <assignToReference>CountryLocaleNumber</assignToReference>
            <field>Mobile_Coutnry_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Mobile_Locale</name>
        <label>Get Mobile Locale</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactMobile_Unvalidated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Display_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mobile_No_Locale__c</elementReference>
            </value>
        </filters>
        <object>Mobile_Country_Code__mdt</object>
        <outputAssignments>
            <assignToReference>CountryLocaleNumber</assignToReference>
            <field>Mobile_Coutnry_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Locale</name>
        <label>Get Work Locale</label>
        <locationX>50</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactWorkPhone_Unvalidated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Display_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactWorkPhone_Locale__c</elementReference>
            </value>
        </filters>
        <object>Mobile_Country_Code__mdt</object>
        <outputAssignments>
            <assignToReference>CountryLocaleNumber</assignToReference>
            <field>Mobile_Coutnry_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Phone_Is_Changed</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountryLocaleNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
