src/core-crm/flows/Contact_Create_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Check if account related in ACR is an administrative account.</description>
        <name>Is_Administrative_Account_0</name>
        <label>Is Administrative Account?</label>
        <locationX>886</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>ACR_Loop_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAdministrativeAccount_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACR_Loop_0.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Account_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_linked_to_business_account</name>
        <label>Is linked to business account?</label>
        <locationX>424</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_Business_Organization_Populated_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business_Organization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Primary_Business_Org</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if primary business organization is populated.</description>
        <name>Is_Primary_Business_Organization_Populated_0</name>
        <label>Is Primary Business Organization Populated?</label>
        <locationX>798</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Populated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Primary_Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Account_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow will trigger on contact creation</description>
    <interviewLabel>Contact Create Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Create Triggered Flow</label>
    <loops>
        <name>ACR_Loop_0</name>
        <label>ACR Loop</label>
        <locationX>666</locationX>
        <locationY>815</locationY>
        <collectionReference>ACR_Records_Not_Linked_to_Parent_Account_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Administrative_Account_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Account_0</name>
        <label>Delete Account</label>
        <locationX>754</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>ACR_Loop_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ACR_Loop_0.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordLookups>
        <name>ACR_Records_Not_Linked_to_Parent_Account_0</name>
        <label>ACR Records Not Linked to Parent Account</label>
        <locationX>666</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ACR_Loop_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.hed__Primary_Organization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Populate Primary Business Organization Field</description>
        <name>Populate_Primary_Business_Org</name>
        <label>Populate Primary Business Org</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>hed__Primary_Organization__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set Primary Business Organization as the Parent Account</description>
        <name>Set_Parent_Account_0</name>
        <label>Set Parent Account</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>ACR_Records_Not_Linked_to_Parent_Account_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.hed__Primary_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_linked_to_business_account</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
