src/core-crm/flows/Course_Connection_Pricing_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Alumni_Verification</name>
        <label>Alumni Verification</label>
        <locationX>336</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Staff_Verification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alumni_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPricing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alumni</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Contact__r.Alumni_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alumni_Verification_Successful</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Alumni Verified</label>
        </rules>
        <rules>
            <name>Alumni_Not_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPricing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alumni</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Contact__r.Alumni_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alumni_Verification_Unsuccessful</targetReference>
            </connector>
            <label>Alumni Not Verified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completed_Course_Connection</name>
        <label>Completed Course Connection</label>
        <locationX>336</locationX>
        <locationY>2375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete_Enrolment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Contact__r.Alumni_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alumni_Verified_Learner</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Complete Enrolment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Learner_Verification</name>
        <label>Current Learner Verification</label>
        <locationX>336</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Inactive_Course_Connection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Learner_Verify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Contact__r.Current_Learner_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedPricing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current Learner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Learner_Validation_Successful</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Current Learner Verify</label>
        </rules>
        <rules>
            <name>Current_Learner_Not_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPricing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current Learner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Contact__r.Current_Learner_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Learner_Validation_Unsuccessful</targetReference>
            </connector>
            <label>Current Learner Not Verified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inactive_Course_Connection</name>
        <label>Inactive Course Connection</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Alumni_Verification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated_from_Active_to_Any_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Course_Connections_of_Learner</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Updated from Active to Any Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Learner_Unverified</name>
        <label>Learner Unverified</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Alumni_Verification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_No_Active_Enrolment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Course_Connections_of_Learner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Not_Current_Learner</targetReference>
            </connector>
            <label>Has No Active Enrolment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Staff_Verification</name>
        <label>Staff Verification</label>
        <locationX>336</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Completed_Course_Connection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Staff_Verify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Contact__r.Staff_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Contact__r.IsStaff_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedPricing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current Staff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Staff_Validation_Successful</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Staff Verify</label>
        </rules>
        <rules>
            <name>Staff_Nor_Verified</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPricing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Staff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Contact__r.Staff_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Contact__r.IsStaff_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Staff_Validation_Unsuccessful</targetReference>
            </connector>
            <label>Staff Nor Verified</label>
        </rules>
    </decisions>
    <interviewLabel>Course Connection Pricing Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Connection Pricing Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Other_Course_Connections_of_Learner</name>
        <label>Other Course Connections of Learner</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Learner_Unverified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pricebook</name>
        <label>Pricebook</label>
        <locationX>336</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Learner_Verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookID</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>SelectedPricing</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Pricebook_Entry</name>
        <label>Pricebook Entry</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cart_Item__r.Pricebook_entry_ID__c</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>PricebookID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Alumni_Verification_Successful</name>
        <label>Alumni Verification Successful</label>
        <locationX>72</locationX>
        <locationY>1823</locationY>
        <connector>
            <targetReference>Staff_Verification</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricing_Validation__c</field>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Alumni_Verification_Unsuccessful</name>
        <label>Alumni Verification Unsuccessful</label>
        <locationX>336</locationX>
        <locationY>1823</locationY>
        <connector>
            <targetReference>Staff_Verification</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricing_Validation__c</field>
            <value>
                <stringValue>Unsuccessful</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Alumni_Verified_Learner</name>
        <label>Alumni Verified Learner</label>
        <locationX>204</locationX>
        <locationY>2495</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alumni_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_Not_Current_Learner</name>
        <label>Contact Not Current Learner</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Alumni_Verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Learner_Verified__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Current_Learner_Validation_Successful</name>
        <label>Current Learner Validation Successful</label>
        <locationX>72</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Inactive_Course_Connection</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricing_Validation__c</field>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Current_Learner_Validation_Unsuccessful</name>
        <label>Current Learner Validation Unsuccessful</label>
        <locationX>336</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Contact_Verified_Learner</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricing_Validation__c</field>
            <value>
                <stringValue>Unsuccessful</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Staff_Validation_Successful</name>
        <label>Staff Validation Successful</label>
        <locationX>72</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>Completed_Course_Connection</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricing_Validation__c</field>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Staff_Validation_Unsuccessful</name>
        <label>Staff Validation Unsuccessful</label>
        <locationX>336</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>Completed_Course_Connection</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricing_Validation__c</field>
            <value>
                <stringValue>Unsuccessful</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Verified_Learner</name>
        <label>Update Contact - Verified Learner</label>
        <locationX>336</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Inactive_Course_Connection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Learner_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pricebook_Entry</targetReference>
        </connector>
        <object>hed__Course_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PricebookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedPricing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
