src/core-crm/flows/Course_Offering_End_Date_Filter_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Date_Checker_Future_assignment</name>
        <label>Date Checker Future assignment</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ProductLedgersToModify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Product_Ledger</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Product_Ledger</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Checker_Past_assignment</name>
        <label>Date Checker Past assignment</label>
        <locationX>528</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ProductLedgersToModify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Product_Ledger</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Product_Ledger</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_future</name>
        <label>Set to future</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Each_Product_Ledger.Course_Offering_End_Date_Checker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_Checker_Future_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Past</name>
        <label>Set to Past</label>
        <locationX>528</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Each_Product_Ledger.Course_Offering_End_Date_Checker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_Checker_Past_assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Date_Checker</name>
        <label>Date Checker</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Each_Product_Ledger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Today_or_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Product_Ledger.Course_Offering_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_future</targetReference>
            </connector>
            <label>Is Today or Future</label>
        </rules>
        <rules>
            <name>Is_Past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Product_Ledger.Course_Offering_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Past</targetReference>
            </connector>
            <label>Is Past</label>
        </rules>
    </decisions>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Course Offering End Date Filter Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Offering End Date Filter Flow</label>
    <loops>
        <name>Each_Product_Ledger</name>
        <label>Each Product Ledger</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Product_Ledgers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Date_Checker</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course_Connection</name>
        <label>Get Course Connection</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Ledgers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Ledgers</name>
        <label>Get Product Ledgers</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Product_Ledger</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Connection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course_Connection.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Ledger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <inputReference>ProductLedgersToModify</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Connection</targetReference>
        </connector>
        <object>hed__Course_Offering__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>datechecker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductLedgersToModify</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Ledger__c</objectType>
    </variables>
</Flow>
