src/core-crm/flows/Designation_Create_Child_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Designation Create Child Product</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Designation Create Child Product</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Child_Product</name>
        <label>Check Child Product</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_Record</targetReference>
            </connector>
            <label>Product Does Not Exist</label>
        </rules>
    </decisions>
    <description>Trigger flow that creates a child record when no product is linked.</description>
    <environments>Default</environments>
    <interviewLabel>Designation Create Child Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Designation Create Child Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Record</name>
        <label>Create Child Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Giving_Category__c</field>
            <value>
                <elementReference>$Record.Giving_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Study_Association__c</field>
            <value>
                <elementReference>$Record.Study_Association__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Product</name>
        <label>Get Related Product</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Child_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Designation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Product</targetReference>
        </connector>
        <object>Designation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
