src/core-crm/flows/Distribution_Management_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Update_Status_to_Active</name>
        <label>Update Status to Active</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Status_to_Inactive</name>
        <label>Update Status to Inactive</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Distribution_Management_Status</name>
        <label>Check Distribution Management Status</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Ready_for_Use</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready For Use</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Active</targetReference>
            </connector>
            <label>Status is Ready for Use</label>
        </rules>
        <rules>
            <name>Status_is_Inactive</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Inactive</targetReference>
            </connector>
            <label>Status is Inactive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Distribution Management Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Distribution Management Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Distribution_Management_Status</targetReference>
        </connector>
        <object>Distribution_Management__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
