src/core-crm/flows/Donation_Cause_Stage_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Stage_to_Published</name>
        <label>Set Stage to Published</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Evaluate_Stage_Criteria</name>
        <label>Evaluate Stage Criteria</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Published</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ready_For_Publishing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QUT_Giving_Publish_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Published</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QUT_Giving_Publish_End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Published</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Published</label>
        </rules>
    </decisions>
    <description>Triggered Flow that contains the Donation Cause Stage Business Rules</description>
    <environments>Default</environments>
    <interviewLabel>Donation Cause Stage Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donation Cause Stage Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Stage_Criteria</targetReference>
        </connector>
        <object>Donation_Cause__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
