src/core-crm/flows/Edit_Contextual_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>5066</locationX>
        <locationY>1250</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Edit Contextual Role</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Edit Contextual Role</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_AccountId_from_FacultyAccountId</name>
        <label>Assign AccountId from FacultyAccountId</label>
        <locationX>3482</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FacultyAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Research_School_Faculty_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountId_from_ResearchCentreAccountId</name>
        <label>Assign AccountId from ResearchCentreAccountId</label>
        <locationX>3218</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResearchCentreAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Research_School_Faculty_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountId_from_SchoolAccountId</name>
        <label>Assign AccountId from SchoolAccountId</label>
        <locationX>3746</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchoolAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Research_School_Faculty_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Board_of_Directors_Variables</name>
        <label>Assign Board of Directors Variables</label>
        <locationX>4274</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BoardofDirectors_Is_Active</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Is_QUT_Internal_Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BoardofDirectors_QUT_Staff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commercialisation_Contributor_Variables</name>
        <label>Assign Commercialisation Contributor Variables</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Is_QUT_Internal_Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsQUTInternalParticipant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contributors_Variables</name>
        <label>Assign Contributors Variables</label>
        <locationX>2954</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Funding_Bodies_Variables</name>
        <label>Assign Funding Bodies Variables</label>
        <locationX>4010</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Commercialisation_Contributor_Variables</name>
        <label>Assign Opportunity Commercialisation Contributor Variables</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Is_QUT_Internal_Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComOpp_IsQUTInternalParticipant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComOpp_Is_Active7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_Variables</name>
        <label>Assign Partner Variables</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Public_Officers_Variables</name>
        <label>Assign Public Officers Variables</label>
        <locationX>4538</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PublicOfficers_Is_Active2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Research_School_Faculty_Variables</name>
        <label>Assign Research, School, Faculty Variables</label>
        <locationX>3482</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Startup_Contributor_Variables</name>
        <label>Assign Startup Contributor Variables</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Is_QUT_Internal_Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Startup_IsQUTInternalParticipant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Startup_Is_Active</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Team_Variables</name>
        <label>Assign Training Team Variables</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Values</name>
        <label>Assign Updated Values</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcademicAccountLookup.selectedRecordIdOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcademicContactLookup.selectedRecordIdOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Approved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_to_isOrganisationOppShowError_variable</name>
        <label>Assign value to isOrganisationOppShowError variable</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>isOrganisationOppShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Organisation_Giving_Contributors_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Organisation_Giving_Contributor_Variables</name>
        <label>Opportunity Organisation Giving Contributor Variables</label>
        <locationX>2690</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrganisationGivingOppIsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isOrganisationOppShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_ID</name>
        <label>Set Account ID</label>
        <locationX>3482</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>InitialAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contextual_Role_Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Research_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contextual_Role_Group</name>
        <label>Check Contextual Role Group</label>
        <locationX>2426</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Academic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Academic_Screen</targetReference>
            </connector>
            <label>Is Academic</label>
        </rules>
        <rules>
            <name>Is_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partners</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Screen</targetReference>
            </connector>
            <label>Is Partner</label>
        </rules>
        <rules>
            <name>Is_Training_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_Team_Screen</targetReference>
            </connector>
            <label>Is Training Team</label>
        </rules>
        <rules>
            <name>Is_Contributors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contributors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Parent</targetReference>
            </connector>
            <label>Is Contributors</label>
        </rules>
        <rules>
            <name>Is_Research_Centre_School_Faculty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research Centre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>School</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Faculty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_ID</targetReference>
            </connector>
            <label>Is Research Centre, School, Faculty</label>
        </rules>
        <rules>
            <name>Is_Funding_Bodies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funding Bodies</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Funding_Bodies_Screen</targetReference>
            </connector>
            <label>Is Funding Bodies</label>
        </rules>
        <rules>
            <name>Is_Board_of_Directors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Board of Directors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Board_of_Directors_Screen</targetReference>
            </connector>
            <label>Is Board of Directors</label>
        </rules>
        <rules>
            <name>Is_Public_Officers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Officers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Public_Officers_Screen</targetReference>
            </connector>
            <label>Is Public Officers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contextual_Role_Organisation_Giving</name>
        <label>Check Contextual Role - Organisation Giving</label>
        <locationX>2558</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Organisation_Giving_Contributor_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contextual_Role_Record.Contextual_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_to_isOrganisationOppShowError_variable</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Record_Type</name>
        <label>Check Opportunity Record Type</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Contributors_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Commercialisation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentOpportunity.Opportunity__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercialisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Commercialisation_Contributors_Screen</targetReference>
            </connector>
            <label>Is Commercialisation</label>
        </rules>
        <rules>
            <name>Is_Startup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentOpportunity.Opportunity__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Startup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Startup_Contributors_Screen</targetReference>
            </connector>
            <label>Is Startup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent</name>
        <label>Check Parent Details</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Contributors_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Commercialisation_Engagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contextual_Role_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engagement_Role</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Commercialisation_Contributors_Screen</targetReference>
            </connector>
            <label>Is Commercialisation Engagement</label>
        </rules>
        <rules>
            <name>Is_Commercialisation_Opportunity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contextual_Role_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity_Outcome_Role</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commercialisation_Contributors_Screen</targetReference>
            </connector>
            <label>Is Commercialisation Opportunity Outcome</label>
        </rules>
        <rules>
            <name>Is_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contextual_Role_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity_Role</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record_Type</targetReference>
            </connector>
            <label>Is Opportunity</label>
        </rules>
        <rules>
            <name>Is_Advancement_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contextual_Role_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advancement_Opportunity_Role</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Organisation_Giving_Contributors_Screen</targetReference>
            </connector>
            <label>Is Advancement Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contextual_role_group</name>
        <label>Contextual role group</label>
        <locationX>3482</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_AccountId_from_SchoolAccountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is School</defaultConnectorLabel>
        <rules>
            <name>Is_Research_Centre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research Centre</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountId_from_ResearchCentreAccountId</targetReference>
            </connector>
            <label>Is Research Centre</label>
        </rules>
        <rules>
            <name>Is_Faculty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Faculty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountId_from_FacultyAccountId</targetReference>
            </connector>
            <label>Is Faculty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Edit Contextual Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Contextual Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contextual_Role_Record</name>
        <label>Get Contextual Role Record</label>
        <locationX>2426</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contextual_Role_Group</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contextual_Role__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Role_Is_Active__c</queriedFields>
        <queriedFields>Role_Is_Approved__c</queriedFields>
        <queriedFields>Contextual_Role__c</queriedFields>
        <queriedFields>Contextual_Role_Group__c</queriedFields>
        <queriedFields>Is_QUT_Internal_Participant__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record_Type</name>
        <label>Get Opportunity Record Type</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contextual_Role_Record.Id</elementReference>
            </value>
        </filters>
        <object>Contextual_Role__c</object>
        <outputReference>ParentOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contextual_Role</name>
        <label>Update Contextual Role</label>
        <locationX>2426</locationX>
        <locationY>1142</locationY>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputReference>Get_Contextual_Role_Record</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Academic_Screen</name>
        <label>Academic Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Updated_Values</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary1</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AcademicContactLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Is_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AcademicAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Account__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing School</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName =
                                &apos;University_Department&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select School...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Is_Approved</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Approved__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Approved</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Board_of_Directors_Screen</name>
        <label>Board of Directors Screen</label>
        <locationX>4274</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Board_of_Directors_Variables</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Contextual_Role_Summary2</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Contextual_Role_Summary2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BoardofDirectorsContactLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>BoardofDirectors_QUT_Staff</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Is_QUT_Internal_Participant__c</elementReference>
                    </defaultValue>
                    <fieldText>QUT Staff</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Contextual_Role_Summary2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <name>BoardofDirectors_Is_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Board of Directors</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Commercialisation_Contributors_Screen</name>
        <label>Commercialisation Contributors Screen</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Commercialisation_Contributor_Variables</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Contextual_Role_Summary4</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Contextual_Role_Summary4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ComContributorsLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Is_Active7</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Contributors</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Contextual_Role_Summary4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ComContributorsAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>(RecordType.DeveloperName = &apos;Business_Organization&apos; OR RecordType.DeveloperName = &apos;University_Department&apos;)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Account__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>space2</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>IsQUTInternalParticipant</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Is_QUT_Internal_Participant__c</elementReference>
                    </defaultValue>
                    <fieldText>Is QUT Internal Participant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contributors_Screen</name>
        <label>Contributors Screen</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contributors_Variables</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary4</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContributorsLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Is_Active4</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Contributors</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>5066</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UnhandledError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Funding_Bodies_Screen</name>
        <label>Funding Bodies Screen</label>
        <locationX>4010</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Funding_Bodies_Variables</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary6</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FundingBodiesAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName != &apos;Administrative&apos; AND End_Date__c = null</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Account__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_space</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Is_Active6</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Commercialisation_Contributors_Screen</name>
        <label>Opportunity Commercialisation Contributors Screen</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Opportunity_Commercialisation_Contributor_Variables</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Contextual_Role_Summary4</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Copy_1_of_Contextual_Role_Summary4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ComOppContributorsLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <name>ComOpp_Is_Active7</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Contributors</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Copy_1_of_Contextual_Role_Summary4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ComOppContributorsAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>(RecordType.DeveloperName = &apos;Business_Organization&apos; OR RecordType.DeveloperName = &apos;University_Department&apos;)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Account__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_space2</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ComOpp_IsQUTInternalParticipant</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Is_QUT_Internal_Participant__c</elementReference>
                    </defaultValue>
                    <fieldText>Is QUT Internal Participant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Organisation_Giving_Contributors_Screen</name>
        <label>Opportunity Organisation Giving Contributors Screen</label>
        <locationX>2558</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Contextual_Role_Organisation_Giving</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Contextual_Role_Summary4</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Copy_1_of_Copy_1_of_Contextual_Role_Summary4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_ComOppContributorsLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>OrganisationGivingOppIsActive</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Contributors</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Copy_1_of_Copy_1_of_Contextual_Role_Summary4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <name>OrganisationOppErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(186, 5, 23);&quot;&gt;Mandatory Field&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isOrganisationOppShowError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Partner_Screen</name>
        <label>Partner Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Partner_Variables</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary2</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartnerAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Recordtype.DeveloperName =
                                &apos;Business_Organization&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Account__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contextual_Role_Record.Opportunity__r.RecordType.DeveloperName</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Corporate_Partnership</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartnerContactLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Is_Active2</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Partners</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Public_Officers_Screen</name>
        <label>Public Officers Screen</label>
        <locationX>4538</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Public_Officers_Variables</targetReference>
        </connector>
        <fields>
            <name>PublicOfficers_Contextual_Role_Summary</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PublicOfficers_Contextual_Role_Summary_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PublicOfficersContactLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>PublicOfficers_Is_Active2</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PublicOfficers_Contextual_Role_Summary_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Public Officers</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Research_Screen</name>
        <label>Research, School, Faculty Screen</label>
        <locationX>3482</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contextual_role_group</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary5</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SchoolAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>InitialAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Organization_Unit_Level__c = &apos;3&apos; AND End_Date__c =null</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SchoolAccountId</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DynamicDataTableInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>School</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FacultyAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>InitialAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Organization_Unit_Level__c = &apos;2&apos; AND End_Date__c =null</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FacultyAccountId</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DynamicDataTableInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Faculty</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ResearchCentreAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>InitialAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Organization_Unit_Level__c IN (&apos;3&apos;,&apos;4&apos;,&apos;5&apos;) AND End_Date__c =null</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ResearchCentreAccountId</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DynamicDataTableInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Research Centre</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>space</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Is_Active5</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Startup_Contributors_Screen</name>
        <label>Startup Contributors Screen</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Startup_Contributor_Variables</targetReference>
        </connector>
        <fields>
            <name>BoardofDirectors_Contextual_Role_Summary</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BoardofDirectors_Contextual_Role_Summary_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartupContributorsLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Startup_Is_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BoardofDirectors_Contextual_Role_Summary_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartupContributorsAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>(RecordType.DeveloperName = &apos;Business_Organization&apos; OR RecordType.DeveloperName = &apos;University_Department&apos;)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Account__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>startup_space2</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Startup_IsQUTInternalParticipant</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Is_QUT_Internal_Participant__c</elementReference>
                    </defaultValue>
                    <fieldText>Is QUT Internal Participant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Contributors</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Training_Team_Screen</name>
        <label>Training Team Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Training_Team_Variables</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TrainingTeamLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Is_Active3</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Training Team</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2300</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contextual_Role_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DynamicDataTableInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacultyAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isOrganisationOppShowError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>modalTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contextual_Role__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchCentreAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchoolAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
