src/core-crm/flows/Edit_Contextual_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Edit Contextual Role</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Edit Contextual Role</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Partner_Variables</name>
        <label>Assign Partner Variables</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Team_Variables</name>
        <label>Assign Training Team Variables</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingTeamLookup.selectedRecordIdOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Values</name>
        <label>Assign Updated Values</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcademicAccountLookup.selectedRecordIdOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcademicContactLookup.selectedRecordIdOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contextual_Role_Record.Role_Is_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Approved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contextual_Role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contextual_Role_Group</name>
        <label>Check Contextual Role Group</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Academic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Academic_Screen</targetReference>
            </connector>
            <label>Is Academic</label>
        </rules>
        <rules>
            <name>Is_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partners</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Screen</targetReference>
            </connector>
            <label>Is Partner</label>
        </rules>
        <rules>
            <name>Is_Training_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contextual_Role_Record.Contextual_Role_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_Team_Screen</targetReference>
            </connector>
            <label>Is Training Team</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Edit Contextual Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Contextual Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contextual_Role_Record</name>
        <label>Get Contextual Role Record</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contextual_Role_Group</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contextual_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contextual_Role</name>
        <label>Update Contextual Role</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputReference>Get_Contextual_Role_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Academic_Screen</name>
        <label>Academic Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Updated_Values</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary1</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AcademicContactLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Is_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AcademicAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Account__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>School</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName =
                                &apos;University_Department&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select School...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Is_Approved</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Approved__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Approved</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UnhandledError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Partner_Screen</name>
        <label>Partner Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Partner_Variables</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary2</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartnerAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Recordtype.DeveloperName =
                                &apos;Business_Organization&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Account__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartnerContactLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Get_Contextual_Role_Record.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Is_Active3</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Training_Team_Screen</name>
        <label>Training Team Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Training_Team_Variables</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TrainingTeamLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Contextual_Role_Record.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Is_Active2</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contextual_Role_Record.Role_Is_Active__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contextual_Role_Record.Contextual_Role__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contextual_Role_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DynamicDataTableInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>