src/core-crm/flows/Flow_Population_on_Case_Action_Taken_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Adding Case Comments Records to the task count</description>
        <name>Adding_Case_Comments_Records_to_the_task_count</name>
        <label>Adding Case Comments Records to the task count</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>CaseCommentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverCaseComments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Call Logged Prompt</description>
        <name>Call_Logged_Prompt</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Call Logged Prompt</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>all calls logged - 
{!LoopOverTaskRecords.Description}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Count_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Case Comment Prompt</description>
        <name>CaseCommentPrompt</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>CaseCommentPrompt</label>
        <locationX>138</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>all Comments - 
{!LoopOverCaseComments.CommentBody}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Case_Comments_Records_to_the_task_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Email Count Assignment</description>
        <name>Email_Count_Assignment</name>
        <label>Email Count Assignment</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>EmailCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverTaskRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_Task_Prompt</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Email Task Prompt</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email Communication -
{!LoopOverTaskRecords.Description}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Count_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>No Case Comment Record Error Handling</description>
        <name>No_Case_Comment_Record_Error_Handling</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>No Case Comment Record Error Handling</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>There are no Case Comment Records
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>No Task Error Handling</description>
        <name>No_Task_Error_Handling</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>No Task Error Handling</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>There are Task related to this Case
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCaseCommentRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Number of case comment</description>
        <name>Number_of_case_comment</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Number of case comment</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Case Comment Count: {!CaseCommentCount}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Number of Email and Task Assignment</description>
        <name>Number_of_Email_and_Task_Assignment</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Number of Email and Task Assignment</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email Count : {!EmailCount}
Task Count : {!TaskCount}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCaseCommentRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Other task</description>
        <name>Other_task</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Other task</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>all Tasks - 
{!LoopOverTaskRecords.Description}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Other Task Assignment</description>
        <name>Other_Task_Assignment</name>
        <label>Other Task Assignment</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TaskCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverTaskRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Task Count Assignment</description>
        <name>Task_Count_Assignment</name>
        <label>Task Count Assignment</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TaskCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverTaskRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Case Comments Exist</description>
        <name>If_Case_Comments_Exists</name>
        <label>If Case Comments Exists</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>No_Case_Comment_Record_Error_Handling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Comments_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCaseCommentRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverCaseComments</targetReference>
            </connector>
            <label>Case Comments Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Task Records Exists</description>
        <name>If_Task_Records_Exists</name>
        <label>If Task Records Exists</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Task_Error_Handling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Record_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllTasksRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverTaskRecords</targetReference>
            </connector>
            <label>Task Record Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Segregating Tasks Based On Subject</description>
        <name>Segregating_Tasks_Based_On_Subject</name>
        <label>Segregating Tasks Based On Subject</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Other_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Tasks</defaultConnectorLabel>
        <rules>
            <name>Email_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverTaskRecords.TaskSubtype</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverTaskRecords.TaskSubtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Task_Prompt</targetReference>
            </connector>
            <label>Email Records</label>
        </rules>
        <rules>
            <name>Call_Logged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverTaskRecords.TaskSubtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Logged_Prompt</targetReference>
            </connector>
            <label>Call Logged</label>
        </rules>
    </decisions>
    <description>Flow Population on Case Action Taken Field</description>
    <environments>Default</environments>
    <interviewLabel>Flow Population on Case Action Taken Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Population on Case Action Taken Field</label>
    <loops>
        <description>Loop Over Case Comments</description>
        <name>LoopOverCaseComments</name>
        <label>LoopOverCaseComments</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <collectionReference>AllCaseCommentRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CaseCommentPrompt</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Number_of_case_comment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LoopOverTaskRecords</description>
        <name>LoopOverTaskRecords</name>
        <label>LoopOverTaskRecords</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>AllTasksRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Segregating_Tasks_Based_On_Subject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Number_of_Email_and_Task_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <description>Get Case Comment Records</description>
        <name>GetCaseCommentRecords</name>
        <label>GetCaseCommentRecords</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Case_Comments_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.RelatedEntity.Id</elementReference>
            </value>
        </filters>
        <object>CaseComment</object>
        <outputReference>AllCaseCommentRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>CommentBody</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>GetTaskRecord</description>
        <name>GetTaskRecord</name>
        <label>GetTaskRecord</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Task_Records_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.RelatedEntity.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>AllTasksRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>TaskSubtype</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>PromptTemplateType://einstein_gpt__fieldCompletion</name>
            <capabilityName>PromptTemplateType://einstein_gpt__fieldCompletion</capabilityName>
            <inputs>
                <name>RelatedEntity</name>
                <capabilityInputName>RelatedEntity</capabilityInputName>
                <dataType>SOBJECT://Case</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>GetTaskRecord</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCaseCommentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <description>AllSocialPost</description>
        <name>AllSocialPost</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>spr_sf__SocialPost__c</objectType>
    </variables>
    <variables>
        <name>AllTasksRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>CaseCommentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Number of Emails Sent</description>
        <name>EmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>TaskCount</description>
        <name>TaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
