src/core-crm/flows/Individual_Email_Result_Lead_Scoring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Score</name>
        <label>Assign Score</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Score</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Initialise_Score</name>
        <label>Initialise Score</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opened</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_1</name>
        <label>Plus 1</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Clicked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_3</name>
        <label>Plus 3</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Score</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Clicked</name>
        <label>Check Clicked</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Assign_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.et4ae5__NumberOfUniqueClicks__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_3</targetReference>
            </connector>
            <label>Clicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opened</name>
        <label>Check Opened</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Clicked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.et4ae5__Opened__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_1</targetReference>
            </connector>
            <label>Opened</label>
        </rules>
    </decisions>
    <interviewLabel>Individual Email Result - Lead Scoring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Individual Email Result - Lead Scoring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialise_Score</targetReference>
        </connector>
        <object>et4ae5__IndividualEmailResult__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
