src/core-crm/flows/Lead_Score_Config_Max_Score_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Get_Total_Max_Score_for_All_Category_Record_with_the_Same_Parent_Category</name>
        <label>Get Total Max Score for All Category Record with the Same Parent Category</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TotalMaxScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Sum_of_Max_Score_for_All_Category_Records_Under_Same_Parent_Category.Max_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sum_of_Max_Score_for_All_Category_Records_Under_Same_Parent_Category</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Record_is_a_Category_Record_Type</name>
        <label>Check if Record is a Category Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_a_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Category</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_with_the_Same_Parent_Category</targetReference>
            </connector>
            <label>Is a Category</label>
        </rules>
    </decisions>
    <interviewLabel>Lead_Score_Config_Max_Score_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead_Score_Config_Max_Score_Update</label>
    <loops>
        <name>Get_Sum_of_Max_Score_for_All_Category_Records_Under_Same_Parent_Category</name>
        <label>Get Sum of Max Score for All Category Records Under Same Parent Category</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Record_with_the_Same_Parent_Category</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Total_Max_Score_for_All_Category_Record_with_the_Same_Parent_Category</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Max_Score_of_the_Parent_Category_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_with_the_Same_Parent_Category</name>
        <label>Get Record with the Same Parent Category</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sum_of_Max_Score_for_All_Category_Records_Under_Same_Parent_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead_Score_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Max_Score_of_the_Parent_Category_Record</name>
        <label>Update the Max Score of the Parent Category Record</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Category__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Max_Score__c</field>
            <value>
                <elementReference>TotalMaxScore</elementReference>
            </value>
        </inputAssignments>
        <object>Lead_Score_Configuration__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Record_is_a_Category_Record_Type</targetReference>
        </connector>
        <object>Lead_Score_Configuration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalMaxScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
