src/core-crm/flows/Lead_Update_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_ABN_Validation_Status</name>
        <label>Assign ABN Validation Status</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadABNEntity_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Entity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Mobile_Validation_Status</name>
        <label>Assign Mobile Validation Status</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadMobile_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Work_Phone_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_Validation_Status</name>
        <label>Assign Phone Validation Status</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Mobile_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Phone_Validation_Status</name>
        <label>Assign Work Phone Validation Status</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Work_Phone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ABN_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LeadMobile_Unvalidated</name>
        <label>LeadMobile Unvalidated</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadMobile_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unvalidated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Phone_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LeadPhone_Unvalidated</name>
        <label>LeadPhone Unvalidated</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unvalidated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mobile_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LEadWorkPhone_UNvalidated</name>
        <label>LEadWorkPhone UNvalidated</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkPhone_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unvalidated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ABN_Is_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ABN_Is_Changed</name>
        <label>ABN Is Changed</label>
        <locationX>314</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>No ABN Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_ABN_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ABN__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ABN__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadABNEntity_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ABN_Validation_Status</targetReference>
            </connector>
            <label>Yes ABN Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_Is_Changed</name>
        <label>Mobile Is Changed</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Work_Phone_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mobile Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>LeadMobile_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadMobile_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadMobile_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadMobile_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadMobile_Unvalidated</targetReference>
            </connector>
            <label>LeadMobile Is Changed</label>
        </rules>
        <rules>
            <name>Yes_Mobile_Is_Changed</name>
            <conditionLogic>2 AND (4 OR 5) AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mobile_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadMobile_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadMobile_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadMobile_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadMobile_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mobile_Validation_Status</targetReference>
            </connector>
            <label>Yes Mobile Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Is_Changed</name>
        <label>Phone Is Changed</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Mobile_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Phone Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>PhoneLocale_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadPhone_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadPhone_Unvalidated</targetReference>
            </connector>
            <label>PhoneLocale Is Changed</label>
        </rules>
        <rules>
            <name>Yes_Phone_Is_Changed</name>
            <conditionLogic>2 AND (4 OR 5) AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadPhone_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadPhone_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadPhone_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadPhone_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_Validation_Status</targetReference>
            </connector>
            <label>Yes Phone Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Phone_Is_Changed</name>
        <label>Work Phone Is Changed</label>
        <locationX>314</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>ABN_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Work Phone Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>LeadWorkPhone_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkPhone_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkPhone_Locale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LEadWorkPhone_UNvalidated</targetReference>
            </connector>
            <label>LeadWorkPhone Is Changed</label>
        </rules>
        <rules>
            <name>Yes_Work_Phone_Is_Changed</name>
            <conditionLogic>2 AND (4 OR 5) AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Phone_No_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkPhone_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkPhone_Locale__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkPhone_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia (+61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkPhone_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand (+64)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Phone_Validation_Status</targetReference>
            </connector>
            <label>Yes Work Phone Is Changed</label>
        </rules>
    </decisions>
    <description>Lead record before update triggered flow</description>
    <interviewLabel>Lead Update Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Update Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Phone_Is_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone_No_Locale__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mobile_No_Locale__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Work_Phone_No_Locale__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ABN__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadPhone_Locale__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadMobile_Locale__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WorkPhone_Locale__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
