src/core-crm/flows/Lead_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_0</name>
        <label>Send Email</label>
        <locationX>1546</locationX>
        <locationY>815</locationY>
        <actionName>FlowEmailHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeFields</name>
            <value>
                <elementReference>MergeFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmailAddresses</name>
            <value>
                <elementReference>ReceiptEmailAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0</name>
        <label>Send Email</label>
        <locationX>1282</locationX>
        <locationY>815</locationY>
        <actionName>FlowEmailHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeFields</name>
            <value>
                <elementReference>MergeFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmailAddresses</name>
            <value>
                <elementReference>ReceiptEmailAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0_0</name>
        <label>Send Email</label>
        <locationX>754</locationX>
        <locationY>815</locationY>
        <actionName>FlowEmailHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeFields</name>
            <value>
                <elementReference>MergeFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmailAddresses</name>
            <value>
                <elementReference>ReceiptEmailAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0_0_0</name>
        <label>Send Email</label>
        <locationX>1018</locationX>
        <locationY>815</locationY>
        <actionName>FlowEmailHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ResearchLeadAlertSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeFields</name>
            <value>
                <elementReference>MergeFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmailAddresses</name>
            <value>
                <elementReference>ReceiptEmailAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0_0_0_0</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <actionName>FlowEmailHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>InternationalLeadAlertSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeFields</name>
            <value>
                <elementReference>MergeFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmailAddresses</name>
            <value>
                <elementReference>ReceiptEmailAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Merge_Fields_0</name>
        <label>Add Merge Fields</label>
        <locationX>1546</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lastname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>citizenship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>residency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>admissionYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>studyLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>funding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>enquiryType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>enquiryDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>emailOptInDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Merge_Fields_0_0</name>
        <label>Add Merge Fields</label>
        <locationX>1282</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lastname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>citizenship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>residency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>enquiryType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>enquiryDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>doubleDegree</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pathway</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Merge_Fields_0_0_0</name>
        <label>Add Merge Fields</label>
        <locationX>754</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lastname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>citizenship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>residency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>admissionYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>studyLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>enquiryType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>enquiryDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>emailOptInDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>birthDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createdDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadSourceCategory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Merge_Fields_0_0_0_0</name>
        <label>Add Merge Fields</label>
        <locationX>1018</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lastname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>citizenship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>residency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>admissionYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>studyLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>enquiryType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>enquiryDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createdDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadSourceCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>funding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Merge_Fields_0_0_0_0_0</name>
        <label>Add Merge Fields</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lastname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>citizenship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>residency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>admissionYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>studyLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>enquiryType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>enquiryDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createdDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadSourceCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>funding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadCategorisation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pathway</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Score_and_Lead_Categorisation</name>
        <label>Assign Lead Score and Lead Categorisation</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>leadScore.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{leadScore}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadScore.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Lead_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadCategorisation.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{leadCategorisation}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadCategorisation.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Lead_Categorisation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternationalLeadAlertSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rank: {!Get_Lead.Lead_Categorisation__c}  | Enquired: {!$Record.CreatedDate}  | Opted in: {!$Record.Email_OptIn_DateTime__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Receipt_Email_Address_and_Email_Template_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Score_and_Lead_Categorisation_0</name>
        <label>Assign Lead Score and Lead Categorisation</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>leadScore.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{leadScore}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadScore.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Lead_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadCategorisation.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{leadCategorisation}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadCategorisation.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Lead_Categorisation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternationalLeadAlertSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rank: {!Get_Contact.Lead_Categorisation__c} | Enquired: {!$Record.CreatedDate} | Opted in: {!$Record.Email_OptIn_DateTime__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Receipt_Email_Address_and_Email_Template_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merge_Fields</name>
        <label>Assign Merge Fields</label>
        <locationX>1546</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>firstname.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{firstname}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstname.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastname.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{lastname}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastname.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{email}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobile.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{mobile}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobile.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>citizenship.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{citizenship}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>citizenship.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Country_Of_Citizenship__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>residency.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{residency}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>residency.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Country_Of_Residency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>admissionYear.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{admissionYear}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>admissionYear.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Expected_Admission_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studyLevel.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{studyLevel}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studyLevel.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_Study_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BSA.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{BSA}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BSA.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_BSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NSA.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{NSA}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NSA.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_NSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>funding.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{funding}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>funding.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Funding_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryType.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{enquiryType}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryType.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryDescription.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{enquiryDescription}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryDescription.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailOptInDate.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{emailOptInDate} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailOptInDate.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email_OptIn_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Merge_Fields_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merge_Fields_0</name>
        <label>Assign Merge Fields</label>
        <locationX>1282</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>firstname.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{firstname}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstname.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastname.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{lastname}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastname.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{email}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>citizenship.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{citizenship}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>citizenship.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Country_Of_Citizenship__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>residency.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{residency}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>residency.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Country_Of_Residency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BSA.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{BSA}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BSA.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_BSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryType.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{enquiryType}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryType.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryDescription.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{enquiryDescription}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryDescription.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>doubleDegree.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{doubleDegree}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>doubleDegree.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Double_Degree__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pathway.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{pathway}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pathway.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Interested_English_Pathways__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Merge_Fields_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merge_Fields_0_0</name>
        <label>Assign Merge Fields</label>
        <locationX>754</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>firstname.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{firstname}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstname.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastname.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{lastname}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastname.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{email}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobile.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{mobile}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobile.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>citizenship.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{citizenship}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>citizenship.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Country_Of_Citizenship__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>residency.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{residency}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>residency.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Country_Of_Residency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>admissionYear.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{admissionYear}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>admissionYear.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Expected_Admission_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studyLevel.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{studyLevel}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studyLevel.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_Study_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BSA.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{BSA}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BSA.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_BSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NSA.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{NSA}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NSA.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_NSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryType.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{enquiryType}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryType.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryDescription.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{enquiryDescription}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryDescription.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailOptInDate.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{emailOptInDate} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailOptInDate.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email_OptIn_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>birthDate.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{birthDate}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>birthDate.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdDate.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{createdDate}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdDate.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSource.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{leadSource}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSource.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSourceCategory.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{leadSourceCategory}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSourceCategory.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Source_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Merge_Fields_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merge_Fields_0_0_0</name>
        <label>Assign Merge Fields</label>
        <locationX>1018</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>firstname.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{firstname}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstname.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastname.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{lastname}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastname.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{email}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobile.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{mobile}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobile.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>citizenship.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{citizenship}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>citizenship.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Country_Of_Citizenship__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>residency.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{residency}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>residency.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Country_Of_Residency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>admissionYear.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{admissionYear}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>admissionYear.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Expected_Admission_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studyLevel.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{studyLevel}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studyLevel.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_Study_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BSA.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{BSA}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BSA.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_BSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NSA.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{NSA}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NSA.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_NSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryType.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{enquiryType}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryType.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryDescription.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{enquiryDescription}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryDescription.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdDate.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{createdDate}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdDate.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSource.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{leadSource}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSource.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSourceCategory.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{leadSourceCategory}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSourceCategory.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Source_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>funding.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{funding}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>funding.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Funding_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResearchLeadAlertSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New International Research Lead ( {!$Record.First_Name__c} {!$Record.Last_Name__c}) [{!$Record.Email__c}] needs attention</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Merge_Fields_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merge_Fields_0_0_0_0</name>
        <label>Assign Merge Fields</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>firstname.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{firstname}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstname.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastname.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{lastname}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastname.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{email}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobile.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{mobile}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobile.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>citizenship.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{citizenship}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>citizenship.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Country_Of_Citizenship__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>residency.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{residency}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>residency.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Country_Of_Residency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>admissionYear.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{admissionYear}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>admissionYear.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Expected_Admission_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studyLevel.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{studyLevel}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studyLevel.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_Study_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BSA.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{BSA}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BSA.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_BSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NSA.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{NSA}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NSA.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Primary_NSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryType.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{enquiryType}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryType.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryDescription.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{enquiryDescription}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enquiryDescription.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailOptInDate.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{emailOptInDate} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailOptInDate.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email_OptIn_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>birthDate.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{birthDate}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>birthDate.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdDate.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{createdDate}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdDate.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSource.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{leadSource}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSource.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSourceCategory.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{leadSourceCategory}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadSourceCategory.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Source_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pathway.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{pathway}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pathway.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Interested_English_Pathways__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>funding.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{funding}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>funding.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.My_Funding_Source__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Merge_Fields_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipt_Email_Address_and_Email_Template</name>
        <label>Assign Receipt Email Address and Email Template</label>
        <locationX>1546</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>w91.li@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Alert - Exchange and Study Abroad</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>claire.huang@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>praveen.paila@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Merge_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipt_Email_Address_and_Email_Template_0</name>
        <label>Assign Receipt Email Address and Email Template</label>
        <locationX>1282</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>w91.li@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Alert - QTAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>claire.huang@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>praveen.paila@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Merge_Fields_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipt_Email_Address_and_Email_Template_0_0</name>
        <label>Assign Receipt Email Address and Email Template</label>
        <locationX>754</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>w91.li@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Alert - Domestic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>claire.huang@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>praveen.paila@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Merge_Fields_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipt_Email_Address_and_Email_Template_0_0_0</name>
        <label>Assign Receipt Email Address and Email Template</label>
        <locationX>1018</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>w91.li@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Alert - Research</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>claire.huang@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>praveen.paila@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Merge_Fields_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipt_Email_Address_and_Email_Template_0_0_0_0</name>
        <label>Assign Receipt Email Address and Email Template</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>w91.li@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Alert - International Enquiry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>claire.huang@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>praveen.paila@qut.edu.au</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Merge_Fields_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Lead_Score_and_Lead_Categorisation</name>
        <label>Get Lead Score and Lead Categorisation</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Assign_Receipt_Email_Address_and_Email_Template_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Leads_Alert</name>
        <label>Leads Alert</label>
        <locationX>1062</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>International_Enquiry</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND NOT(6) AND NOT(7) AND NOT(8) AND NOT(9) AND NOT(10) AND NOT(11) AND NOT(12) AND NOT(13) AND NOT(14) AND NOT(15) AND NOT(16) AND NOT(17) AND NOT(18) AND NOT(19) AND NOT(20) AND NOT(21) AND NOT(22) AND NOT(23) AND NOT(24) AND NOT(25) AND NOT(26) AND NOT(27) AND NOT(28) AND NOT(29) AND NOT(30) AND NOT(31) AND NOT(32) AND NOT(33) AND NOT(34) AND NOT(35) AND NOT(36) AND NOT(37) AND NOT(38) AND NOT(39) AND NOT(40) AND NOT(41) AND NOT(42) AND NOT(43) AND NOT(44) AND NOT(45) AND NOT(46)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Primary_Study_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Higher Degree Research</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Primary_Study_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Exchange and Study Abroad (1 or 2 Semesters Only)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>sexy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>url=https://</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>casino</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>nude</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>hydra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>bit.ly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>earn money</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>omega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>drugs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>happy summer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>alemprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>crypto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>blogspot.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>you could try this out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>essay crafting service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>essay composing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>browse around this website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>you are my heart</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>look at this web-site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pills</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pussy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>porn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>photo galleries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>our company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>playmates</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>url=http://</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>vulgar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>daddy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>cybersex</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>additional hints</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>personality development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>australian citizen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>current student</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>widget</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>prestigious</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>dividend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>intimate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>fuck</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Score_and_Lead_Categorisation</targetReference>
            </connector>
            <label>International Enquiry</label>
        </rules>
        <rules>
            <name>Domestic</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Receipt_Email_Address_and_Email_Template_0_0</targetReference>
            </connector>
            <label>Domestic</label>
        </rules>
        <rules>
            <name>Research</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Primary_Study_Level__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Research</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Receipt_Email_Address_and_Email_Template_0_0_0</targetReference>
            </connector>
            <label>Research</label>
        </rules>
        <rules>
            <name>QTAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Studying_Australian_Curriculum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Receipt_Email_Address_and_Email_Template_0</targetReference>
            </connector>
            <label>QTAC</label>
        </rules>
        <rules>
            <name>Exchange_and_study_abroad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Primary_Study_Level__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Exchange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Receipt_Email_Address_and_Email_Template</targetReference>
            </connector>
            <label>Exchange and study abroad</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_Score_and_Lead_Categorisation_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_Score_and_Lead_Categorisation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>936</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Leads_Alert</targetReference>
        </connector>
        <object>Marketing_Staging__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>admissionYear</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>birthDate</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BSA</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>citizenship</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdDate</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>doubleDegree</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailOptInDate</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>enquiryDescription</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>enquiryType</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstname</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>funding</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InternationalLeadAlertSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastname</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadCategorisation</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadScore</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadSource</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadSourceCategory</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeFields</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mobile</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NSA</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pathway</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceiptEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResearchLeadAlertSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>residency</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>studyLevel</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
