src/core-crm/flows/Marketing_Interaction_Lead_Scoring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Score</name>
        <label>Assign Score</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Score</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Initialise_Score</name>
        <label>Initialise Score</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minus_200</name>
        <label>Minus 200</label>
        <locationX>50</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_5</name>
        <label>Plus 5</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_7</name>
        <label>Plus 7</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Enquiry_Description</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Enquiry</name>
        <label>Check Enquiry</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Check_Enquiry_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enquired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_7</targetReference>
            </connector>
            <label>Enquired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Enquiry_Description</name>
        <label>Check Enquiry Description</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Assign_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Negative</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>sexy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>url=https://</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>casino</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>nude</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>hydra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>bit.ly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>earn money</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>omega</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>drugs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>happy summer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>alemprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>crypto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>blogspot.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>you could try this out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>essay crafting service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>essay composing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>browse around this website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>you are my heart</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>look at this web-site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ø</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pills</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pussy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>porn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>photo galleries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>our company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>playmates</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>url=http://</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>vulgar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>daddy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>cybersex</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>additional hints</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>personality development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>å</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>australian citizen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>current student</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>widget</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>prestigious</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>=</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>÷</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>dividend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>intimate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>fuck</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minus_200</targetReference>
            </connector>
            <label>Negative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Source</name>
        <label>Check Lead Source</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Course_PDF_Event_Preference_Center</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>saved_course</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PDF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Preference_center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_5</targetReference>
            </connector>
            <label>Course PDF Event Preference Center</label>
        </rules>
    </decisions>
    <interviewLabel>Marketing Interaction - Lead Scoring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Interaction - Lead Scoring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialise_Score</targetReference>
        </connector>
        <object>Marketing_Interaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
