src/core-crm/flows/Marketing_Segmentation_Lead_Scoring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Score</name>
        <label>Assign Score</label>
        <locationX>710</locationX>
        <locationY>2783</locationY>
        <assignmentItems>
            <assignToReference>$Record.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Score</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Initialise_Score</name>
        <label>Initialise Score</label>
        <locationX>710</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Nationality</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minus_10</name>
        <label>Minus 10</label>
        <locationX>974</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Course_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minus_200</name>
        <label>Minus 200</label>
        <locationX>358</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minus_5</name>
        <label>Minus 5</label>
        <locationX>1106</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Residence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minus_5_0</name>
        <label>Minus 5</label>
        <locationX>974</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Funding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minus_5_0_0</name>
        <label>Minus 5</label>
        <locationX>798</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Course_Major</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_10</name>
        <label>Plus 10</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Residence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_10_0</name>
        <label>Plus 10</label>
        <locationX>446</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Funding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_10_0_0</name>
        <label>Plus 10</label>
        <locationX>490</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Commencement_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_10_0_0_0</name>
        <label>Plus 10</label>
        <locationX>226</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Course_Level</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_15_0</name>
        <label>Plus 15</label>
        <locationX>446</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Course_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_15_0_0</name>
        <label>Plus 15</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Funding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_20</name>
        <label>Plus 20</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Residence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_20_0</name>
        <label>Plus 20</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Course_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_25</name>
        <label>Plus 25</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Residence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_3</name>
        <label>Plus 3</label>
        <locationX>754</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Course_Level</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_5</name>
        <label>Plus 5</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Residence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_5_0</name>
        <label>Plus 5</label>
        <locationX>710</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Funding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_5_0_0</name>
        <label>Plus 5</label>
        <locationX>710</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Course_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_5_0_0_0</name>
        <label>Plus 5</label>
        <locationX>358</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Course_Major</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_5_0_0_0_0</name>
        <label>Plus 5</label>
        <locationX>490</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Course_Level</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_5_0_0_0_0_0</name>
        <label>Plus 5</label>
        <locationX>622</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Score</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Commencement_Year</name>
        <label>Check Commencement Year</label>
        <locationX>710</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Check_Course_Level</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_This_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Expected_Admission_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>THIS_YEAR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_10_0_0_0</targetReference>
            </connector>
            <label>Is This Year</label>
        </rules>
        <rules>
            <name>Next_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Expected_Admission_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMING_YEAR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_5_0_0_0_0</targetReference>
            </connector>
            <label>Next Year</label>
        </rules>
        <rules>
            <name>Not_Blank_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Expected_Admission_Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_3</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
        <rules>
            <name>Is_Blank_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Expected_Admission_Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Course_Level</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Course_Area</name>
        <label>Check Course Area</label>
        <locationX>710</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Check_Course_Major</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Primary_BSA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_5_0_0_0</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
        <rules>
            <name>Unsure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Primary_BSA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am not sure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Course_Major</targetReference>
            </connector>
            <label>Unsure</label>
        </rules>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Primary_BSA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minus_5_0_0</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Course_Level</name>
        <label>Check Course Level</label>
        <locationX>710</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Assign_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Research_Exchange</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Primary_Study_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Higher Degree Research</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Primary_Study_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exchange and Study Abroad (1 or 2 Semesters Only)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minus_200</targetReference>
            </connector>
            <label>Research/Exchange</label>
        </rules>
        <rules>
            <name>Not_Blank_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Primary_Study_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_5_0_0_0_0_0</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
        <rules>
            <name>Is_Blank_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Primary_Study_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Score</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Course_Major</name>
        <label>Check Course Major</label>
        <locationX>710</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Check_Commencement_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Blank_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Primary_NSA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_10_0_0</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
        <rules>
            <name>Is_Blank_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Primary_NSA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Commencement_Year</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Funding</name>
        <label>Check Funding</label>
        <locationX>710</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Check_Course_Area</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Family_Self_Fund</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I will fund my studies myself</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>My family will fund my studies</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_20_0</targetReference>
            </connector>
            <label>Family/Self Fund</label>
        </rules>
        <rules>
            <name>Scholarship_Loan_or_Sponsorship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I already have a scholarship, loan or sponsorship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_15_0</targetReference>
            </connector>
            <label>Scholarship Loan or Sponsorship</label>
        </rules>
        <rules>
            <name>Not_Sure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I am not sure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_5_0_0</targetReference>
            </connector>
            <label>Not Sure</label>
        </rules>
        <rules>
            <name>Need_Scholarship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I need a full scholarship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minus_10</targetReference>
            </connector>
            <label>Need Scholarship</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Nationality</name>
        <label>Check Nationality</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Residence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea (the Republic of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_25</targetReference>
            </connector>
            <label>Tier 1</label>
        </rules>
        <rules>
            <name>Tier_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indonesia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malaysia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Papua New Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philippines (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sri Lanka</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thailand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vietnam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_20</targetReference>
            </connector>
            <label>Tier 2</label>
        </rules>
        <rules>
            <name>Tier_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangladesh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bhutan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brazil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambodia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mongolia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nepal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pakistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States of America (the)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_10</targetReference>
            </connector>
            <label>Tier 3</label>
        </rules>
        <rules>
            <name>Untiered_Unrestricted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Åland Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Albania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Andorra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Antigua and Barbuda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Argentina</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Armenia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bahamas (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barbados</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belarus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belize</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bolivia (Plurinational State of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bosnia and Herzegovina</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulgaria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Costa Rica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Croatia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cuba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cyprus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dominican Republic (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ecuador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El Salvador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Georgia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greece</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greenland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grenada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guatemala</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guyana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Haiti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Honduras</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hungary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jamaica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Latvia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North Macedonia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moldova (the Republic of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nicaragua</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Panama</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paraguay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peru</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Romania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Kitts and Nevis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Lucia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Vincent and the Grenadines</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovakia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovenia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suriname</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trinidad and Tobago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uruguay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uzbekistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Holy See (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venezuela (Bolivarian Republic of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Faroe Islands (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Macau</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Czechia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>American Samoa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fiji</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kiribati</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nauru</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Caledonia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samoa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solomon Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tonga</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vanuatu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Azerbaijan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bahrain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cabo Verde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Israel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jordan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kazakhstan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kuwait</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kyrgyzstan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maldives</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qatar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkmenistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Palestine, State of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambodia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Timor-Leste</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lao People&apos;s Democratic Republic (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dominica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estonia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lithuania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marshall Islands (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Micronesia (Federated States of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Palau</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Marino</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sao Tome and Principe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Serbia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tajikistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuvalu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_5</targetReference>
            </connector>
            <label>Untiered Unrestricted</label>
        </rules>
        <rules>
            <name>Untiered_Restricted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Russian Federation (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ukraine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea (the Democratic People&apos;s Republic of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Myanmar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Afghanistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iraq</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Syrian Arab Republic (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lebanon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yemen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Algeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Botswana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Burkina Faso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Burundi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cabo Verde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cameroon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central African Republic (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comoros (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Côte d&apos;Ivoire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Djibouti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo (the Democratic Republic of the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Egypt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equatorial Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eritrea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eswatini</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ethiopia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gabon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gambia (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ghana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guinea-Bissau</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kenya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lesotho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Libya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Madagascar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malawi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mali</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mauritania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mauritius</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Morocco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mozambique</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Namibia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Niger (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nigeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rwanda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sao Tome and Principe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senegal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seychelles</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sierra Leone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Somalia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Africa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Sudan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sudan (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tanzania, the United Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Togo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tunisia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uganda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zambia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zimbabwe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo (the Democratic Republic of the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Côte d&apos;Ivoire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gambia (the)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minus_5</targetReference>
            </connector>
            <label>Untiered Restricted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Residence</name>
        <label>Check Residence</label>
        <locationX>710</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Check_Funding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_15_0_0</targetReference>
            </connector>
            <label>Australia</label>
        </rules>
        <rules>
            <name>Tier_Developed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indonesia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malaysia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Papua New Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philippines (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sri Lanka</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thailand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vietnam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangladesh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bhutan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brazil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambodia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mongolia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nepal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pakistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States of America (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea (the Republic of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_10_0</targetReference>
            </connector>
            <label>Tier Developed</label>
        </rules>
        <rules>
            <name>Untiered_Unrestricted_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Åland Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Albania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Andorra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Antigua and Barbuda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Argentina</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Armenia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bahamas (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barbados</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belarus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belize</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bolivia (Plurinational State of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bosnia and Herzegovina</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulgaria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Costa Rica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Croatia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cuba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cyprus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dominican Republic (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ecuador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El Salvador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Georgia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greece</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greenland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grenada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guatemala</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guyana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Haiti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Honduras</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hungary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jamaica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Latvia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North Macedonia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moldova (the Republic of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nicaragua</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paraguay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peru</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Romania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Kitts and Nevis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Lucia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Vincent and the Grenadines</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovakia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovenia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suriname</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trinidad and Tobago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uruguay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uzbekistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Holy See (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venezuela (Bolivarian Republic of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Faroe Islands (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Macau</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Czechia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fiji</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kiribati</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nauru</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Caledonia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samoa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solomon Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tonga</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vanuatu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Azerbaijan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bahrain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cabo Verde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Israel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jordan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kazakhstan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kuwait</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kyrgyzstan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maldives</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qatar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkmenistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Palestine, State of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Timor-Leste</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lao People&apos;s Democratic Republic (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dominica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estonia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lithuania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marshall Islands (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Micronesia (Federated States of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Palau</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Marino</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sao Tome and Principe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Serbia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tajikistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuvalu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_5_0</targetReference>
            </connector>
            <label>Untiered Unrestricted</label>
        </rules>
        <rules>
            <name>Untiered_Restricted_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Russian Federation (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ukraine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea (the Democratic People&apos;s Republic of)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Myanmar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Afghanistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iraq</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Syrian Arab Republic (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lebanon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yemen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Algeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Botswana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Burkina Faso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Burundi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cabo Verde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cameroon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central African Republic (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comoros (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Côte d&apos;Ivoire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Djibouti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo (the Democratic Republic of the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Egypt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equatorial Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eritrea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eswatini</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ethiopia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gabon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gambia (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guinea-Bissau</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kenya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lesotho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Libya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Madagascar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malawi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mali</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mauritania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mauritius</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Morocco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mozambique</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Namibia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Niger (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nigeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rwanda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sao Tome and Principe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senegal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seychelles</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sierra Leone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Somalia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Africa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Sudan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sudan (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tanzania, the United Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Togo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tunisia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uganda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zambia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zimbabwe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo (the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo (the Democratic Republic of the)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Côte d&apos;Ivoire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.My_Country_Of_Residency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gambia (the)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minus_5_0</targetReference>
            </connector>
            <label>Untiered Restricted</label>
        </rules>
    </decisions>
    <formulas>
        <name>COMING_YEAR</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate}) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>THIS_YEAR</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Marketing Segmentation - Lead Scoring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Segmentation - Lead Scoring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialise_Score</targetReference>
        </connector>
        <object>Marketing_Segmentation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
