src/core-crm/flows/New_Engagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Logs an error for every create/get method</description>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>1106</locationX>
        <locationY>2954</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>New Engagement</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in New Engagement Screen Flow</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>1106</locationX>
        <locationY>3062</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Stores the AccountId that was Created.</description>
        <name>Assign_AccountId_Created</name>
        <label>Assign AccountId Created</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>StoreAccountId.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Create_Contact_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the value of the contact Id created to storeContactId variable and the role that was created.</description>
        <name>Assign_ContactId_Role_Created</name>
        <label>Assign ContactId &amp; Role Created</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>StoreContactId.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_New_Contact_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Engagement_Stage_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the contactId of the selected contact.</description>
        <name>Assign_ContactId_Selected</name>
        <label>Assign ContactId Selected</label>
        <locationX>842</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>StoreContactId.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactLookupLWC.selectedRecordOutput.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Engagement_Stage_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contextual_Role_RecordType</name>
        <label>Assign Contextual Role RecordType</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ContextualRoleObjectforFields.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contextual_Role_Engagement_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Engagement_Stage_Commercialisation</name>
        <label>Assign Engagement Stage Commercialisation</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>EngagementStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Disclosure</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Engagement_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Engagement_Stage_Research_Partnership</name>
        <label>Assign Engagement Stage Research Partnership</label>
        <locationX>578</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>EngagementStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Engagement_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Modal_Title</name>
        <label>Assign Modal Title</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>modalTitleAssignement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_Selected</name>
        <label>Assign Record Type Selected</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AssignRecordTypeSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_a_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Account_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountNameCreate</name>
        <label>AssignAccountNameCreate</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AccountNameAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contextual_Role_Engagement_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountNameExisting</name>
        <label>AssignAccountNameExisting</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AccountNameAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account.selectedRecordOutput.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contextual_Role_Engagement_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Account Id based on the Selected Account in the Lookup Component</description>
        <name>Assisgn_Account_Id_Selected</name>
        <label>Assisgn Account Id Selected</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>StoreAccountId.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account.selectedRecordOutput.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Create_Contact_Selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Engagement_Stage_Decision</name>
        <label>Engagement Stage Decision</label>
        <locationX>446</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Assign_Engagement_Stage_Research_Partnership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Research Partnership</defaultConnectorLabel>
        <rules>
            <name>Commercialisation</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercialisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Engagement_Stage_Commercialisation</targetReference>
            </connector>
            <label>Commercialisation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Created_or_Select_from_Existing</name>
        <label>Is Account Created or Select from Existing</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Assisgn_Account_Id_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Account Selected</defaultConnectorLabel>
        <rules>
            <name>Is_Account_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Organization_RecordType</targetReference>
            </connector>
            <label>Is Account Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create_Contact_Selected</name>
        <label>Is Create Contact Selected?</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Assign_ContactId_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Selected_Create_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_RecordType</targetReference>
            </connector>
            <label>Is Selected Create New Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create_New_Account_Selected_Assignment</name>
        <label>Is Create New Account Selected Assignment</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>AssignAccountNameCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Selected_Create_New_Account_Assignement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountNameExisting</targetReference>
            </connector>
            <label>Is Selected Create New Account Assignement</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountCompanyCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Category__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountIndustryClassification</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry_Classification__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountIndustrySubClassification</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry_Sub_Classification__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactRolePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contextual_Role__c</picklistField>
        <picklistObject>Contextual_Role__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EngagementPriorityPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Engagement_Priority__c</picklistField>
        <picklistObject>Engagement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EngagementRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercialisation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Research Partnership</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Select_a_Record_Type</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MobileLocalePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ContactMobile_Locale__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Engagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Engagement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates Account Record Based on the Get Account Details screen</description>
        <name>Create_Account_Record</name>
        <label>Create Account Record</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Assign_AccountId_Created</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>ABNLWC.ABN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Category__c</field>
            <value>
                <elementReference>Company_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Classification__c</field>
            <value>
                <elementReference>AccountDependentPicklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Sub_Classification__c</field>
            <value>
                <elementReference>AccountDependentPicklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Business_Organization_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contextual_Role_Record</name>
        <label>Create Contextual Role Record</label>
        <locationX>446</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Detail_Page_Navigationn</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>StoreAccountId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>StoreContactId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contextual_Role_Group__c</field>
            <value>
                <stringValue>Partners</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contextual_Role__c</field>
            <value>
                <elementReference>ContextualRoleObjectforFields.Contextual_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>EngagementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Contextual_Role_Engagement_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contextual_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Engagement_Record</name>
        <label>Create Engagement Record</label>
        <locationX>446</locationX>
        <locationY>2738</locationY>
        <assignRecordIdToReference>EngagementId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Engagement_Priority__c</field>
            <value>
                <elementReference>Engagement_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Summary__c</field>
            <value>
                <elementReference>Engagement_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Engagement_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Engagement_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Name__c</field>
            <value>
                <elementReference>EngagementStage</elementReference>
            </value>
        </inputAssignments>
        <object>Engagement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contact_Record</name>
        <label>Create New Contact Record</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Assign_ContactId_Role_Created</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>StoreAccountId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactMobile_Locale__c</field>
            <value>
                <elementReference>Mobile_Locale_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Person_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Email__c</field>
            <value>
                <elementReference>WorkEmailInput.workEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the Business Organization RecordType for Account</description>
        <name>Get_Business_Organization_RecordType</name>
        <label>Get Business Organization RecordType</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Organization</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contextual_Role_Engagement_Record_Type</name>
        <label>Get Contextual Role Engagement Record Type</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contextual_Role_RecordType</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement_Role</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contextual_Role__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Engagement_RecordType</name>
        <label>Get Engagement RecordType</label>
        <locationX>446</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Engagement_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignRecordTypeSelected</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Person recordtype for contact.</description>
        <name>Get_Person_RecordType</name>
        <label>Get Person RecordType</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Person</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Collect_Account_Details</name>
        <label>Collect Account Details</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Create_New_Account_Selected_Assignment</targetReference>
        </connector>
        <fields>
            <name>PartnersInAccountScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Partner&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Account</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create New Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Complete this field.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>RecordType.Name = &apos;Business Organization&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search Accounts...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Account</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewAccountText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;New Account&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccountName</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ABNLWC</name>
            <extensionName>c:flowABNField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Company_Category</name>
            <choiceReferences>AccountCompanyCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Company Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccountDependentPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Industry_Classification__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Industry_Sub_Classification__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Industry Classification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Industry Sub-Classification</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Contact_Details</name>
        <label>Collect Contact Details</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Collect_Engagement_Details</targetReference>
        </connector>
        <fields>
            <name>PartnerText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Partner&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountLookupInContactScreen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>AccountNameAssignment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leftIconName</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rightIconName</name>
                <value>
                    <stringValue>utility:close</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_New_Contact</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create New Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactLookupLWC</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search Contacts...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Complete this field.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ContextualRoleObjectforFields.Contextual_Role__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WorkEmailInput</name>
            <extensionName>c:flowWorkEmailField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mobile_Locale_Picklist</name>
            <choiceReferences>MobileLocalePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mobile Locale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MobilePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^(\+)?(?:[0-9] ?(?:-)?){3,14}[0-9]$</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ContextualRoleObjectforFields.Contextual_Role__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Engagement_Details</name>
        <label>Collect Engagement Details</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Account_Created_or_Select_from_Existing</targetReference>
        </connector>
        <fields>
            <name>EngagementDetailsText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Engagement Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Engagement_Name</name>
            <dataType>String</dataType>
            <fieldText>Engagement Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Engagement_Summary</name>
            <dataType>String</dataType>
            <fieldText>Engagement Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Engagement_Priority</name>
            <choiceReferences>EngagementPriorityPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1106</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DedupError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Type_Selection</name>
        <label>Record Type Selection</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Record_Type_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_a_Record_Type</name>
            <choiceReferences>EngagementRecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;strong&gt;Commercialisation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Create Commercialisation Engagement to identify and assess research before its ready for commercialisation.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Research Partnership&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Create Research Partnership Engagement to identify new opportunities with industry partners to support research and research training initiatives.&lt;/li&gt;&lt;/ul&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Modal_Title</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Detail_Page_Navigationn</name>
        <label>Detail Page Navigationn</label>
        <locationX>446</locationX>
        <locationY>2954</locationY>
        <flowName>Detail_Page_Navigation</flowName>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>EngagementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountNameAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignRecordTypeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To be used in filtering the selected field for Roles in contextual Role Picklist value</description>
        <name>ContextualRoleObjectforFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contextual_Role__c</objectType>
    </variables>
    <variables>
        <description>Stores the EngagementId</description>
        <name>EngagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EngagementStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>modalTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>modalTitleAssignement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Engagement</stringValue>
        </value>
    </variables>
    <variables>
        <name>RoleStoreValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreAccountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>StoreContactId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
