src/core-crm/flows/New_Stewardship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Logs an error for every create/get method</description>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>New Stewardship</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in New Stewardship Screen Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>DefaultRecordTypeSelected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Stewardship</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_User_Role</name>
        <label>Check User Role</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Dont_Have_Access_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donor_Engagement_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record</targetReference>
            </connector>
            <label>User Has Access</label>
        </rules>
    </decisions>
    <description>Screen flow to create New Stewardship Record</description>
    <dynamicChoiceSets>
        <name>StewardshipRecordtype</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual Stewardship</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organisation Stewardship</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stewardship__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SelectedRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Stewardship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Stewardship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Stewardship_Record</name>
        <label>Create Stewardship Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>StewardshipRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Detail_Page_Navigation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>Close_Date_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactLookup.selectedRecordIdOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>ManagerLookup.selectedRecordIdOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>Objective_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SelectedRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date_Input</elementReference>
            </value>
        </inputAssignments>
        <object>Stewardship__c</object>
    </recordCreates>
    <screens>
        <name>Collect_Stewardship_Details</name>
        <label>Collect Stewardship Details</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Stewardship_Record</targetReference>
        </connector>
        <fields>
            <name>NewStewardshipHeaderDetailsScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;New Stewardship&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stewardship_Summary</name>
            <fieldText>Stewardship Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stewardship_Summary_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_Input</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ManagerLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>identifier</name>
                        <value>
                            <stringValue>StewardshipManagerLookupIndentifier</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>QUT_Staff__c = true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stewardship_Summary_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Date_Input</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Objective_Input</name>
                    <fieldText>Objective</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dont_Have_Access_Screen</name>
        <label>Dont Have Access Screen</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoAccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;Please be advise that you do not have permission to create Engagement. If you have concern, contact your administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record</name>
        <label>Record Type Selection</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Existing_Contact</targetReference>
        </connector>
        <fields>
            <name>NewStewardshipHeaderRectypeScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;New Stewardship&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_a_record_type</name>
            <choiceReferences>StewardshipRecordtype</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultRecordTypeSelected</elementReference>
            </defaultValue>
            <fieldText>Select a record type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Existing_Contact</name>
        <label>Select Existing Contact</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Collect_Stewardship_Details</targetReference>
        </connector>
        <fields>
            <name>NewStewardshipHeaderContactScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;New Stewardship&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Contact&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactLookup</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Complete this field.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search Contacts...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplay</name>
                <value>
                    <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToSearch</name>
                <value>
                    <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Role</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Detail_Page_Navigation</name>
        <label>Detail Page Navigation</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>Detail_Page_Navigation</flowName>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>StewardshipRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SelectedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StewardshipRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
