src/core-crm/flows/New_Engagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Do_Contact_Matching</name>
        <label>Do Contact Matching</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <actionName>ContactMatchingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_a_Contact_Match_found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>WorkEmailInput.workEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileLocale</name>
            <value>
                <elementReference>Mobile_Locale_Picklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileNoLocale</name>
            <value>
                <elementReference>MobileValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContactMatchingService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Logs an error for every create/get method</description>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>1018</locationX>
        <locationY>4142</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>New Engagement</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in New Engagement Screen Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>1018</locationX>
        <locationY>4250</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assigns the contactId of the selected contact.</description>
        <name>Assign_ContactId_Selected</name>
        <label>Assign ContactId Selected</label>
        <locationX>1282</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>ContactObject.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactLookupLWC.selectedRecordOutput.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Engagement_Details_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contextual_Role_Object_Values</name>
        <label>Assign Contextual Role Object Values</label>
        <locationX>996</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ContextualRoleObject.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contextual_Role_Engagement_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextualRoleObject.Contextual_Role_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partners</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Engagement_Details_Commercialisation</name>
        <label>Assign Engagement Details Commercialisation</label>
        <locationX>798</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>EngagementStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Disclosure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EngagementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Engagement_Name_Com</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Engagement_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Engagement_Details_Research_Partnership</name>
        <label>Assign Engagement Details Research Partnership</label>
        <locationX>1062</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>EngagementStage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EngagementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Engagement_Name_RP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Engagement_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Modal_Title</name>
        <label>Assign Modal Title</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>modalTitleAssignement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_Selected</name>
        <label>Assign Record Type Selected</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignRecordTypeSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_a_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contextual_Role_Engagement_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountNameCreate</name>
        <label>AssignAccountNameCreate</label>
        <locationX>1128</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AccountNameAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contextual_Role_Object_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountNameExisting</name>
        <label>AssignAccountNameExisting</label>
        <locationX>864</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AccountNameAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account.selectedRecordOutput.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contextual_Role_Object_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Account Id based on the Selected Account in the Lookup Component</description>
        <name>Assisgn_Account_Id_Selected</name>
        <label>Assisgn Account Id Selected</label>
        <locationX>1282</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>AccountObject.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account.selectedRecordOutput.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Create_Contact_Selected</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CommercialisationText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercialisation</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResearchParnershipText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Research Partnership</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_User_Role</name>
        <label>Check User Role</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Record_Type_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Has Access</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Have_Access_General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partnership_Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Industry_Engagement_Super_User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Not_Have_Access_General_Screen</targetReference>
            </connector>
            <label>Do Not Have Access (General)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Engagement_Details_Decision</name>
        <label>Engagement Details Decision</label>
        <locationX>930</locationX>
        <locationY>3410</locationY>
        <defaultConnector>
            <targetReference>Assign_Engagement_Details_Research_Partnership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Research Partnership</defaultConnectorLabel>
        <rules>
            <name>Commercialisation</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercialisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Engagement_Details_Commercialisation</targetReference>
            </connector>
            <label>Commercialisation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_Contact_Match_found</name>
        <label>Is a Contact Match found?</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Collect_Engagement_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_Contact_Matching.error</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Match_Error_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Created_or_Select_from_Existing</name>
        <label>Is Account Created or Select from Existing</label>
        <locationX>886</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Assisgn_Account_Id_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Account Selected</defaultConnectorLabel>
        <rules>
            <name>Is_Account_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Organization_RecordType</targetReference>
            </connector>
            <label>Is Account Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create_Contact_Selected</name>
        <label>Is Create Contact Selected?</label>
        <locationX>886</locationX>
        <locationY>2870</locationY>
        <defaultConnector>
            <targetReference>Assign_ContactId_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Selected_Create_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_RecordType</targetReference>
            </connector>
            <label>Is Selected Create New Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create_New_Account_Selected_Assignment</name>
        <label>Is Create New Account Selected Assignment</label>
        <locationX>996</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>AssignAccountNameCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Selected_Create_New_Account_Assignement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountNameExisting</targetReference>
            </connector>
            <label>Is Selected Create New Account Assignement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Contact</name>
        <label>Is New Contact?</label>
        <locationX>996</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Collect_Engagement_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Contact_Matching</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skips the contextual Role creation if recordtype is commercialisation</description>
        <name>What_RecordType_is_Selected_for_Contextual_Role_Creation</name>
        <label>What RecordType is Selected for Contextual Role Creation</label>
        <locationX>930</locationX>
        <locationY>3926</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercialisation_RecordType_Selected_in_Contextual_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignRecordTypeSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercialisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Detail_Page_Navigationn</targetReference>
            </connector>
            <label>Commercialisation RecordType Selected in Contextual Role</label>
        </rules>
        <rules>
            <name>Research_Partnership_RecordType_Selected_in_Contextual_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignRecordTypeSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research Partnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contextual_Role_Record</targetReference>
            </connector>
            <label>Research Partnership RecordType Selected in Contextual Role</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skips the Creation of Account and Contact Records</description>
        <name>What_RecordType_is_Selected_for_Creation_of_Account_and_Contact</name>
        <label>What RecordType is Selected for Creation of Account and Contact</label>
        <locationX>930</locationX>
        <locationY>2306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercialisation_RecordType_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignRecordTypeSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercialisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engagement_Details_Decision</targetReference>
            </connector>
            <label>Commercialisation RecordType Selected in Creating Account and Contact</label>
        </rules>
        <rules>
            <name>Research_Partnership_RecordType_Selected_in_Creating_Account_and_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignRecordTypeSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research Partnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Account_Created_or_Select_from_Existing</targetReference>
            </connector>
            <label>Research Partnership RecordType Selected in Creating Account and Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skips the Account and Contact Screen if RecordType is Commercialisation</description>
        <name>What_RecordType_is_Selected_for_Enagagement_Screen</name>
        <label>What RecordType is Selected for Enagagement Screen</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercialisation_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignRecordTypeSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercialisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Engagement_Details</targetReference>
            </connector>
            <label>Commercialisation RecordType</label>
        </rules>
        <rules>
            <name>Research_Partnership_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignRecordTypeSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research Partnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Account_Details</targetReference>
            </connector>
            <label>Research Partnership RecordType</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContactRolePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contextual_Role__c</picklistField>
        <picklistObject>Contextual_Role__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EngagementPriorityPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Engagement_Priority__c</picklistField>
        <picklistObject>Engagement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EngagementRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercialisation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Research Partnership</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Select_a_Record_Type</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MobileLocalePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ContactMobile_Locale__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Engagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Engagement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates Account Record Based on the Get Account Details screen</description>
        <name>Create_Account_Record</name>
        <label>Create Account Record</label>
        <locationX>490</locationX>
        <locationY>2630</locationY>
        <assignRecordIdToReference>AccountObject.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Is_Create_Contact_Selected</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>ABNLWC.ABN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Category__c</field>
            <value>
                <elementReference>AccountObject.Company_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Classification__c</field>
            <value>
                <elementReference>AccountObject.Industry_Classification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Sub_Classification__c</field>
            <value>
                <elementReference>AccountObject.Industry_Sub_Classification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Business_Organization_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contextual_Role_Record</name>
        <label>Create Contextual Role Record</label>
        <locationX>754</locationX>
        <locationY>4034</locationY>
        <connector>
            <targetReference>Detail_Page_Navigationn</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contextual_Role_Group__c</field>
            <value>
                <elementReference>ContextualRoleObject.Contextual_Role_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contextual_Role__c</field>
            <value>
                <elementReference>ContextualRoleObject.Contextual_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>EngagementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Contextual_Role_Engagement_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contextual_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Engagement_Record</name>
        <label>Create Engagement Record</label>
        <locationX>930</locationX>
        <locationY>3818</locationY>
        <assignRecordIdToReference>EngagementId</assignRecordIdToReference>
        <connector>
            <targetReference>What_RecordType_is_Selected_for_Contextual_Role_Creation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Engagement_Priority__c</field>
            <value>
                <elementReference>Engagement_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Summary__c</field>
            <value>
                <elementReference>Engagement_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EngagementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Engagement_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Name__c</field>
            <value>
                <elementReference>EngagementStage</elementReference>
            </value>
        </inputAssignments>
        <object>Engagement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contact_Record</name>
        <label>Create New Contact Record</label>
        <locationX>490</locationX>
        <locationY>3086</locationY>
        <assignRecordIdToReference>ContactObject.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Engagement_Details_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactMobile_Locale__c</field>
            <value>
                <elementReference>Mobile_Locale_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_No_Locale__c</field>
            <value>
                <elementReference>MobileValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Person_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Email__c</field>
            <value>
                <elementReference>WorkEmailInput.workEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the Business Organization RecordType for Account</description>
        <name>Get_Business_Organization_RecordType</name>
        <label>Get Business Organization RecordType</label>
        <locationX>490</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Organization</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contextual_Role_Engagement_Record_Type</name>
        <label>Get Contextual Role Engagement Record Type</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_RecordType_is_Selected_for_Enagagement_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement_Role</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contextual_Role__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Engagement_RecordType</name>
        <label>Get Engagement RecordType</label>
        <locationX>930</locationX>
        <locationY>3710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Engagement_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignRecordTypeSelected</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Person recordtype for contact.</description>
        <name>Get_Person_RecordType</name>
        <label>Get Person RecordType</label>
        <locationX>490</locationX>
        <locationY>2978</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Person</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Collect_Account_Details</name>
        <label>Collect Account Details</label>
        <locationX>996</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Create_New_Account_Selected_Assignment</targetReference>
        </connector>
        <fields>
            <name>PartnersInAccountScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Partner&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Account</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create New Account</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Complete this field.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>RecordType.Name = &apos;Business Organization&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search Accounts...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>identifier</name>
                <value>
                    <stringValue>EngagementAccountLookupIdentifier</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewAccountText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;New Account&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(234, 0, 30);&quot;&gt;You can&apos;t enter more than 255 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Account_Name})&lt;=255</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ABNLWC</name>
            <extensionName>c:flowABNField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountObject.Company_Category__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountObject.Industry_Classification__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountObject.Industry_Sub_Classification__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Contact_Details</name>
        <label>Collect Contact Details</label>
        <locationX>996</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_New_Contact</targetReference>
        </connector>
        <fields>
            <name>PartnerText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Partner&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountLookupInContactScreen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>AccountNameAssignment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leftIconName</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rightIconName</name>
                <value>
                    <stringValue>utility:close</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_New_Contact</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create New Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactLookupLWC</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search Contacts...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Complete this field.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>identifier</name>
                <value>
                    <stringValue>EngagementContactLookupIdentifier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplay</name>
                <value>
                    <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToSearch</name>
                <value>
                    <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ContextualRoleObject.Contextual_Role__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(234, 0, 30);&quot;&gt;You can&apos;t enter more than 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!First_Name})&lt;=40</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(234, 0, 30);&quot;&gt;You can&apos;t enter more than 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Last_Name})&lt;=80</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WorkEmailInput</name>
            <extensionName>c:flowWorkEmailField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mobile_Locale_Picklist</name>
            <choiceReferences>MobileLocalePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mobile Locale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MobilePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^(\+)?(?:[0-9] ?(?:-)?){3,14}[0-9]$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>MobileValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MobileValue</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ContextualRoleObject.Contextual_Role__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ContextualRoleObject.Contextual_Role_Group__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContextualRoleObject.Contextual_Role_Group__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Partners</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Engagement_Details</name>
        <label>Collect Engagement Details</label>
        <locationX>930</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_RecordType_is_Selected_for_Creation_of_Account_and_Contact</targetReference>
        </connector>
        <fields>
            <name>EngagementDetailsText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Engagement Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Engagement_Name_Com</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>RCE: </stringValue>
            </defaultValue>
            <fieldText>Engagement Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;When creating a new engagement, it must meet the following naming convention: RCE: &amp;lt;Insert descriptive name&amp;gt; - &amp;lt;Year&amp;gt;. An example is: RCE: Textiles Commercialisation - 2023.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;You can&apos;t enter more than 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Engagement_Name_Com})&lt;=80</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AssignRecordTypeSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CommercialisationText</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Engagement_Name_RP</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>RPE: </stringValue>
            </defaultValue>
            <fieldText>Engagement Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;When creating a new engagement, it must meet the following naming convention: RPE: &amp;lt;Insert descriptive name&amp;gt; - &amp;lt;Year&amp;gt;. An example is: RPE: Textile Waste Management Research - 2023.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(234, 0, 30);&quot;&gt;You can&apos;t enter more than 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Engagement_Name_RP})&lt;=80</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AssignRecordTypeSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ResearchParnershipText</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Engagement_Summary</name>
            <fieldText>Engagement Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;A summary/description of the Engagement being undertaken.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(234, 0, 30);&quot;&gt;You can&apos;t enter more than 500 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Engagement_Summary})&lt;=500</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Engagement_Priority</name>
            <choiceReferences>EngagementPriorityPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;The business priority for the Engagement.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Match_Error_Screen</name>
        <label>Contact Match Error Screen</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContactMatchError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(186, 5, 23); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Contact with these details already exists. Please search for the contact with provided details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Do_Not_Have_Access_General_Screen</name>
        <label>Do Not Have Access (General) Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoAccessGeneral</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 0, 30); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Please be advised that you do not have permission to create new engagements using this button. If you have any concerns, please contact your administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1018</locationX>
        <locationY>4358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DedupError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Type_Selection</name>
        <label>Record Type Selection</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Record_Type_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_a_Record_Type</name>
            <choiceReferences>EngagementRecordType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultRecordTypeSelected</elementReference>
            </defaultValue>
            <fieldText>Select a Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;strong&gt;Commercialisation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Create Commercialisation Engagement to identify and assess research before its ready for commercialisation.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Research Partnership&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Create Research Partnership Engagement to identify new opportunities with industry partners to support research and research training initiatives.&lt;/li&gt;&lt;/ul&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Modal_Title</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Detail_Page_Navigationn</name>
        <label>Detail Page Navigationn</label>
        <locationX>930</locationX>
        <locationY>4682</locationY>
        <flowName>Detail_Page_Navigation</flowName>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>EngagementId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountNameAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AssignRecordTypeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>To be used in filtering the selected field for Roles in contextual Role Picklist value</description>
        <name>ContextualRoleObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contextual_Role__c</objectType>
    </variables>
    <variables>
        <name>DefaultRecordTypeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Commercialisation</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the EngagementId</description>
        <name>EngagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EngagementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EngagementStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MobileValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>modalTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>modalTitleAssignement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Engagement</stringValue>
        </value>
    </variables>
    <variables>
        <name>RoleStoreValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
