src/core-crm/flows/New_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Do_Contact_Matching</name>
        <label>Do Contact Matching</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>ContactMatchingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Contact_Match_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Work_Email_input.workEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>First_Name_input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Last_Name_input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileLocale</name>
            <value>
                <elementReference>Mobile_Locale_picklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileNoLocale</name>
            <value>
                <elementReference>Mobile_input.value</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContactMatchingService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>New Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in New Contact Screen Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FlowErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_New_Contact_Values</name>
        <label>Assign New Contact Values</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ContactToCreate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.Work_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Email_input.workEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.ContactMobile_Locale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Locale_picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.Mobile_No_Locale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_input.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonContactRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Contact_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Running_User_Profile</name>
        <label>Check Running User Profile</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>No_Access_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Does Not Have Access</defaultConnectorLabel>
        <rules>
            <name>User_Has_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Industry Engagement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contact_Details_Screen</targetReference>
            </connector>
            <label>User Has Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Match_Found</name>
        <label>Is Contact Match Found</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Person_Contact_Record_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_Contact_Matching.error</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMatchingErrorScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MobileLocalePicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ContactMobile_Locale__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Contact_Record</name>
        <label>Create New Contact Record</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Detail_Page_Navigation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputReference>ContactToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Person_Contact_Record_Type_ID</name>
        <label>Get Person Contact Record Type ID</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Contact_Values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Person</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonContactRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ContactMatchingErrorScreen</name>
        <label>ContactMatchingErrorScreen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContactMatchingErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(186, 5, 23); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Contact with these details already exists. Please search for the contact with provided details.﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FlowErrorScreen</name>
        <label>FlowErrorScreen</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 0, 30);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Contact_Details_Screen</name>
        <label>New Contact Details Screen</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_Contact_Matching</targetReference>
        </connector>
        <fields>
            <name>First_Name_input</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name_input</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Email_input</name>
            <extensionName>c:flowWorkEmailField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mobile_Locale_picklist</name>
            <choiceReferences>MobileLocalePicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mobile Locale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile_input</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^(\+)?(?:[0-9] ?(?:-)?){3,14}[0-9]$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to display error if running user does not have access to creating a new Contact.</description>
        <name>No_Access_Error_Screen</name>
        <label>No Access Error Screen</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAccess_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;Please be advised that you do not have permission to create new contacts using this button. If you have any concerns, please contact your administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Running_User_Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Detail_Page_Navigation</name>
        <label>Detail Page Navigation</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <flowName>Detail_Page_Navigation</flowName>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>ContactToCreate.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContactToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>modalTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New Contact</stringValue>
        </value>
    </variables>
    <variables>
        <name>PersonContactRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
