src/core-crm/flows/New_Contextual_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>6562</locationX>
        <locationY>1832</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Roll_Back_Records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in New Contextual Role</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Academic_Modal_Title</name>
        <label>Assign Academic Modal Title</label>
        <locationX>4714</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Academics_Involved_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Board_of_Directors_Modal_Title</name>
        <label>Assign Board of Directors Modal Title</label>
        <locationX>5770</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Board_of_Directors_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commercialisation_Contributor_Modal_Title</name>
        <label>Assign Commercialisation Contributor Modal Title</label>
        <locationX>2888</locationX>
        <locationY>1316</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ComOppOutcomeContributors_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contextual_Role_Independent_Fields</name>
        <label>Assign Contextual Role Independent Fields</label>
        <locationX>3240</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ContextualRoleToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextualRoleToCreate.Contextual_Role_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DynamicDataTableInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contextual_Role_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contributor_Modal_Title</name>
        <label>Assign Contributor Modal Title</label>
        <locationX>3922</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contributors_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Funding_Bodies_Modal_Title</name>
        <label>Assign Funding Bodies Modal Title</label>
        <locationX>5506</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Funding_Bodies_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Modal_Title_for_CP_Opportunity</name>
        <label>Assign Modal Title for CP Opportunity</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Screen_for_CP_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Modal_Title_for_IP_Management_Contributor</name>
        <label>Assign Modal Title for IP Management Contributor</label>
        <locationX>4186</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contributor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Complex_Contextual_Role_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Organisation_Giving_Contributor_Modal_Title</name>
        <label>Assign Organisation Giving Contributor Modal Title</label>
        <locationX>3614</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contributor_Screen_for_Organisation_Giving</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_Modal_Title</name>
        <label>Assign Partner Modal Title</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Account_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Public_Officers_Modal_Title</name>
        <label>Assign Public Officers Modal Title</label>
        <locationX>6034</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Public_Officers_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Research_Engagement_Contributor_Modal_Title</name>
        <label>Assign Research Engagement Contributor Modal Title</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contributor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Call_Complex_Contextual_Role_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Research_Engagement_Partner</name>
        <label>Assign Research Engagement Partner Modal Title</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Call_Complex_Contextual_Role_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Research_School_Faculty_Modal_Title</name>
        <label>Assign Research, School, Faculty Modal Title</label>
        <locationX>5242</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Research_Centre_School_Faculty_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Startup_Contributor_Modal_Title</name>
        <label>Assign Startup Contributor Modal Title</label>
        <locationX>2514</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Startup_Contributors_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Team_Modal_Title</name>
        <label>Assign Training Team Modal Title</label>
        <locationX>4978</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contextual Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Training_Team_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_For_Academic</name>
        <label>Assign Variables For Academic</label>
        <locationX>4714</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RoleIsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleIsApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Approved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_For_Board_of_Directors</name>
        <label>Assign Variables For Board of Directors</label>
        <locationX>5770</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RoleIsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active7a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsQUTInternalParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BoardOfDirectors_QUT_Staff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_For_Commercialisation_Contributors</name>
        <label>Assign Variables For Commercialisation Contributors</label>
        <locationX>2888</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>RoleIsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsQUTInternalParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_QUT_Internal_Participant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_For_Contributors</name>
        <label>Assign Variables For Contributors</label>
        <locationX>3922</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RoleIsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_For_Funding_Bodies</name>
        <label>Assign Variables For Funding Bodies</label>
        <locationX>5506</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RoleIsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_for_Partners</name>
        <label>Assign Variables for Partners</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RoleIsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextualRoleToCreate.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerAccountLookup.selectedRecordIdOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextualRoleToCreate.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerContactLookup.selectedRecordIdOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_for_Partners_of_CP_Opportunity</name>
        <label>Assign Variables for Partners of CP Opportunity</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RoleIsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Partner_Active</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextualRoleToCreate.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerLookup.selectedRecordIdOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_For_Public_Officers</name>
        <label>Assign Variables For Public Officers</label>
        <locationX>6034</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RoleIsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active8</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_For_Research_School_Faculty</name>
        <label>Assign Variables For Research, School, Faculty</label>
        <locationX>5242</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RoleIsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextualRoleToCreate.Account__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SchoolAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextualRoleToCreate.Account__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResearchCentreAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextualRoleToCreate.Account__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FacultyAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_For_Startup_Contributors</name>
        <label>Assign Variables For Startup Contributors</label>
        <locationX>2514</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RoleIsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Startup_Is_Active</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsQUTInternalParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Startup_Is_QUT_Internal_Participant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_For_Training_Team</name>
        <label>Assign Variables For Training Team</label>
        <locationX>4978</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RoleIsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Active3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contextual_Role_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Affiliation_Organisation_Giving_Choice</name>
        <choiceText>I understand that this contact will be affiliated to this Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AffiliationChoice</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Contextual_Role_Group</name>
        <label>Check Contextual Role Group</label>
        <locationX>3240</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Partners</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partners</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Partner_Parent</targetReference>
            </connector>
            <label>Is Partners</label>
        </rules>
        <rules>
            <name>Is_Contributors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contributors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contributor_Parent</targetReference>
            </connector>
            <label>Is Contributors</label>
        </rules>
        <rules>
            <name>Is_Academics_Involved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Academic_Modal_Title</targetReference>
            </connector>
            <label>Is Academics Involved</label>
        </rules>
        <rules>
            <name>Is_Training_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Training_Team_Modal_Title</targetReference>
            </connector>
            <label>Is Training Team</label>
        </rules>
        <rules>
            <name>Is_Research_Centre_School_Faculty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research Centre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>School</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Faculty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Research_School_Faculty_Modal_Title</targetReference>
            </connector>
            <label>Is Research Centre, School, Faculty</label>
        </rules>
        <rules>
            <name>Is_Funding_Bodies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funding Bodies</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Funding_Bodies_Modal_Title</targetReference>
            </connector>
            <label>Is Funding Bodies</label>
        </rules>
        <rules>
            <name>Is_Board_of_Directors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Board of Directors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Board_of_Directors_Modal_Title</targetReference>
            </connector>
            <label>Is Board of Directors</label>
        </rules>
        <rules>
            <name>Is_Public_Officers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Officers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Public_Officers_Modal_Title</targetReference>
            </connector>
            <label>Is Public Officers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contributor_Parent</name>
        <label>Check Contributor Parent</label>
        <locationX>2888</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Contributor_Modal_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Engagement2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engagement__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Engagement_Record</targetReference>
            </connector>
            <label>Is Engagement</label>
        </rules>
        <rules>
            <name>Is_Opportunity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contributors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity_Outcome__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Outcome</targetReference>
            </connector>
            <label>Is Opportunity Outcome</label>
        </rules>
        <rules>
            <name>Is_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Is Opportunity</label>
        </rules>
        <rules>
            <name>Is_IP_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IP_Management__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IP_Management</targetReference>
            </connector>
            <label>Is IP Management</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_create_new_contact</name>
        <label>Check create new contact</label>
        <locationX>3614</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Commercialisation_Contributor_Modal_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Organisation_Giving_Create_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Organisation_Giving_New_Contact_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Call_Complex_Contextual_Role_Flow</targetReference>
            </connector>
            <label>Organisation Giving Create New Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Engagement_RecordType</name>
        <label>Check Engagement RecordType</label>
        <locationX>1326</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Research_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Engagement_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research_Partnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partners</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Research_Engagement_Partner</targetReference>
            </connector>
            <label>Is Research Partner</label>
        </rules>
        <rules>
            <name>Is_Commercialisation_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Engagement_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercialisation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partners</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner_Modal_Title</targetReference>
            </connector>
            <label>Is Commercialisation Partner</label>
        </rules>
        <rules>
            <name>Is_Research_Contributor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Engagement_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research_Partnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contributors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Research_Engagement_Contributor_Modal_Title</targetReference>
            </connector>
            <label>Is Research Contributor</label>
        </rules>
        <rules>
            <name>Is_Commercialisation_Contributor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Engagement_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercialisation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DynamicDataTableInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contributors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commercialisation_Contributor_Modal_Title</targetReference>
            </connector>
            <label>Is Commercialisation Contributor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Outcome_Record_Type</name>
        <label>Check Opportunity Outcome Record Type</label>
        <locationX>2558</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Contributor_Modal_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Research_Commercialisation_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Outcome.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research_Commercialisation_Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commercialisation_Contributor_Modal_Title</targetReference>
            </connector>
            <label>Is Research Commercialisation Project</label>
        </rules>
        <rules>
            <name>Is_Startup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Outcome.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Startup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Startup_Contributor_Modal_Title</targetReference>
            </connector>
            <label>Is Startup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Record_RecordType</name>
        <label>Check Opportunity Record RecordType</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Partner_Modal_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Corporate_Partnership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate_Partnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Modal_Title_for_CP_Opportunity</targetReference>
            </connector>
            <label>Is Corporate Partnership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Record_Type</name>
        <label>Check Opportunity Record Type</label>
        <locationX>3614</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Contributor_Modal_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Commercialisation_Opportuntity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercialisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commercialisation_Contributor_Modal_Title</targetReference>
            </connector>
            <label>Is Commercialisation Opportuntity</label>
        </rules>
        <rules>
            <name>Is_Organisation_Giving_Opportuntity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organisation_Giving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Organisation_Giving_Contributor_Modal_Title</targetReference>
            </connector>
            <label>Is Organisation Giving Opportuntity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_Parent</name>
        <label>Check Partner Parent</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Partner_Modal_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Engagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engagement__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Parent_Engagement_Record</targetReference>
            </connector>
            <label>Is Engagement</label>
        </rules>
        <rules>
            <name>Is_Opportunity_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <label>Is Opportunity Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OrganisationGivingAccountId</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Opportunity.RecordType.DeveloperName}=&apos;Organisation_Giving&apos;, {!Get_Opportunity.Account.Id}, null)</expression>
    </formulas>
    <formulas>
        <name>ParentEngagementId</name>
        <dataType>String</dataType>
        <expression>IF({!ParentObjectApiName} = &quot;Engagement__c&quot;,{!ParentId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ParentIPManagementId</name>
        <dataType>String</dataType>
        <expression>IF({!ParentObjectApiName} = &quot;IP_Management__c&quot;,{!ParentId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ParentOpportunityId</name>
        <dataType>String</dataType>
        <expression>IF({!ParentObjectApiName} = &quot;Opportunity&quot;,{!ParentId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ParentOpporunityOutcomeId</name>
        <dataType>String</dataType>
        <expression>IF({!ParentObjectApiName} = &quot;Opportunity_Outcome__c&quot;,{!ParentId},&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Create or Edit Contextual Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Contextual Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contextual_Role_Record</name>
        <label>Create Contextual Role Record</label>
        <locationX>3240</locationX>
        <locationY>1724</locationY>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>ContextualRoleToCreate.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContextualRoleToCreate.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contextual_Role_Group__c</field>
            <value>
                <elementReference>DynamicDataTableInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contextual_Role__c</field>
            <value>
                <elementReference>ContextualRoleToCreate.Contextual_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>ParentEngagementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Management__c</field>
            <value>
                <elementReference>ParentIPManagementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_QUT_Internal_Participant__c</field>
            <value>
                <elementReference>IsQUTInternalParticipant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Outcome__c</field>
            <value>
                <elementReference>ParentOpporunityOutcomeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>ParentOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Is_Active__c</field>
            <value>
                <elementReference>RoleIsActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Is_Approved__c</field>
            <value>
                <elementReference>RoleIsApproved</elementReference>
            </value>
        </inputAssignments>
        <object>Contextual_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_IP_Management</name>
        <label>Get IP Management</label>
        <locationX>4186</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Modal_Title_for_IP_Management_Contributor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentIPManagementId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IP_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>3614</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Outcome</name>
        <label>Get Opportunity Outcome</label>
        <locationX>2558</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Outcome_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentOpporunityOutcomeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Outcome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Record_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Engagement_Record</name>
        <label>Get Parent Engagement Record</label>
        <locationX>1326</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Engagement_RecordType</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Records</name>
        <label>Roll Back Records</label>
        <locationX>6562</locationX>
        <locationY>1940</locationY>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Academics_Involved_Screen</name>
        <label>Academics Involved Screen</label>
        <locationX>4714</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_For_Academic</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AcademicContactLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contacts...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName =&apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Is_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AcademicAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;University_Department&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showNewRecordAction</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing School</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select School...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Account__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Is_Approved</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Is Approved</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Board_of_Directors_Screen</name>
        <label>Board of Directors Screen</label>
        <locationX>5770</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_For_Board_of_Directors</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Contextual_Role_Summary2</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Contextual_Role_Summary2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BoardofDirectorsContactLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>BoardOfDirectors_QUT_Staff</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>QUT Staff</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Contextual_Role_Summary2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Is_Active7a</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ContextualRoleToCreate.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Board of Directors</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ComOppOutcomeContributors_Screen</name>
        <label>Contributors Screen</label>
        <locationX>2888</locationX>
        <locationY>1424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_For_Commercialisation_Contributors</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Contextual_Role_Summary4</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Contextual_Role_Summary4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ComOppOutcomeContributorsContactLookUp</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Is_Active7</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Contextual_Role_Summary4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ComOppOutcomeContributorsAccountLookUp</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>(RecordType.DeveloperName = &apos;Business_Organization&apos; OR RecordType.DeveloperName = &apos;University_Department&apos;)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Account__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>space2</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Is_QUT_Internal_Participant</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is QUT Internal Participant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ContextualRoleToCreate.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Contributors</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contributor_Screen_for_Organisation_Giving</name>
        <label>Contributor Screen for Organisation Giving</label>
        <locationX>3614</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_create_new_contact</targetReference>
        </connector>
        <fields>
            <name>Contributor_Screen_for_Organisation_Giving_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contributor_Screen_for_Organisation_Giving_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrganisationContributorAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>leftIconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Acount</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Business_Organization&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValueInput</name>
                        <value>
                            <elementReference>Get_Opportunity.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Organisation_Giving_New_Contact_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create New Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ContactOrganisationGivingOpportunity</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>leftIconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Organisation_Giving_New_Contact_Checkbox</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Affiliation_Checkbox_Organisation_Giving</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I understand that this contact will be affiliated to this Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Mandatory Field&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Affiliation_Checkbox_Organisation_Giving}=TRUE,TRUE,FALSE)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Organisation_Giving_New_Contact_Checkbox</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contributors_Screen</name>
        <label>Contributors Screen</label>
        <locationX>3922</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_For_Contributors</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary4</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContributorsContactLookUp</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Is_Active4</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ContextualRoleToCreate.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Contributors</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>6562</locationX>
        <locationY>2048</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UnhandledError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Funding_Bodies_Screen</name>
        <label>Funding Bodies Screen</label>
        <locationX>5506</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_For_Funding_Bodies</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary6</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FundingBodiesAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName != &apos;Administrative&apos; AND End_Date__c = null</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Account__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_space</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Is_Active6</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Partner_Account_Screen</name>
        <label>Partner Account Screen</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_for_Partners</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary2</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartnerAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Business_Organization&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartnerContactLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Is_Active2</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ContextualRoleToCreate.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Partners</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Partner_Screen_for_CP_Opportunity</name>
        <label>Partner Screen for CP Opportunity</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_for_Partners_of_CP_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Contextual_Role_Summary2</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Contextual_Role_Summary2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Contextual_Role_Summary2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartnerLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Is_Partner_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ContextualRoleToCreate.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Partners</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Public_Officers_Screen</name>
        <label>Public Officers Screen</label>
        <locationX>6034</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_For_Public_Officers</targetReference>
        </connector>
        <fields>
            <name>PO_Contextual_Role_Summary2</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PO_Contextual_Role_Summary2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PublicOfficersContactLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Is_Active8</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PO_Contextual_Role_Summary2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ContextualRoleToCreate.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Public Officers</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Research_Centre_School_Faculty_Screen</name>
        <label>Research Centre, School, Faculty Screen</label>
        <locationX>5242</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_For_Research_School_Faculty</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary5</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SchoolAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Organization_Unit_Level__c = &apos;3&apos; AND End_Date__c =null</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SchoolAccountId</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DynamicDataTableInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>School</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FacultyAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Organization_Unit_Level__c = &apos;2&apos; AND End_Date__c =null</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FacultyAccountId</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DynamicDataTableInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Faculty</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ResearchCentreAccountLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Organization_Unit_Level__c IN (&apos;3&apos;,&apos;4&apos;,&apos;5&apos;) AND End_Date__c =null</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ResearchCentreAccountId</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DynamicDataTableInput</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Research Centre</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>space</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Is_Active5</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Startup_Contributors_Screen</name>
        <label>Contributors Screen</label>
        <locationX>2514</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_For_Startup_Contributors</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary_Startup</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary_Startup_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartupOppOutcomeContributorsContactLookUp</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Startup_Is_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary_Startup_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartupOppOutcomeContributorsAccountLookUp</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Account...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>(RecordType.DeveloperName = &apos;Business_Organization&apos; OR RecordType.DeveloperName = &apos;University_Department&apos;)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Account__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>startup_space</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Startup_Is_QUT_Internal_Participant</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is QUT Internal Participant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ContextualRoleToCreate.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Contributors</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Training_Team_Screen</name>
        <label>Training Team Screen</label>
        <locationX>4978</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_For_Training_Team</targetReference>
        </connector>
        <fields>
            <name>Contextual_Role_Summary3</name>
            <fieldText>Contextual Role Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contextual_Role_Summary3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TrainingTeamContactLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContextualRoleToCreate.Contact__c</assignToReference>
                        <name>selectedRecordIdOutput</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Is_Active3</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contextual_Role_Summary3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContextualRoleToCreate.Contextual_Role_Group__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ContextualRoleToCreate.Contextual_Role_Group__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Training Team</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3114</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Contextual_Role_Independent_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Complex_Contextual_Role_Flow</name>
        <label>Call Complex Contextual Role Flow</label>
        <locationX>4186</locationX>
        <locationY>674</locationY>
        <flowName>New_Contextual_Role_Complex</flowName>
        <inputAssignments>
            <name>DynamicDataTableInput</name>
            <value>
                <elementReference>DynamicDataTableInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityRecordTypeDeveloperName</name>
            <value>
                <elementReference>Get_Opportunity.RecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentId</name>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentObjectApiName</name>
            <value>
                <elementReference>ParentObjectApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentOpportunityAccountId</name>
            <value>
                <elementReference>OrganisationGivingAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Record Variable for New Contact</description>
        <name>Contact_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContextualRoleToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contextual_Role__c</objectType>
    </variables>
    <variables>
        <name>corporatepartnershipchecker</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DynamicDataTableInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacultyAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsQUTInternalParticipant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>modalTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Parent Record the contextual role would be linked to.</description>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchCentreAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoleIsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RoleIsApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SchoolAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
