src/core-crm/flows/New_Stewardship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Do_Contact_Matching</name>
        <label>Do Contact Matching</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <actionName>ContactMatchingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Contact_Match_Found</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>WorkEmail.workEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileLocale</name>
            <value>
                <elementReference>Mobile_Locale</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileNoLocale</name>
            <value>
                <elementReference>MobilePhone.value</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContactMatchingService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Logs an error for every create/get method</description>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>1370</locationX>
        <locationY>2114</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>New Stewardship</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in New Stewardship Screen Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>1370</locationX>
        <locationY>2222</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Account_Display_Text</name>
        <label>Assign Account Display Text</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SelectedAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookup.selectedRecordOutput.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Selected Contact via Lookup to the Record Variable.</description>
        <name>Assign_Contact_for_Stewardship_Organisation_Giving</name>
        <label>Assign Contact for Stewardship Organisation Giving</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ContactToCreate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLookupOrganisationGiving.selectedRecordIdOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contact_Affiliation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Values</name>
        <label>Assign Contact Values</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>ContactToCreate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.Work_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkEmail.workEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.ContactMobile_Locale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Locale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobilePhone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Values_for_Individual_Stewardship_Record</name>
        <label>Assign Contact Values for Individual Stewardship Record</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ContactToCreate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLookupIndividualGiving.selectedRecordIdOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Stewardship_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Modal_Title</name>
        <label>Assign Modal Title</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>New Stewardship</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Role</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DefaultRecordTypeSelected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Stewardship</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_User_Role</name>
        <label>Check User Role</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Dont_Have_Access_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donor_Engagement_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record</targetReference>
            </connector>
            <label>User Has Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Match_Found</name>
        <label>Is Contact Match Found</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Get_Person_Recordtype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_Contact_Matching.error</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Match_Error_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create_Contact_Selected</name>
        <label>Is Create Contact Selected?</label>
        <locationX>644</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_for_Stewardship_Organisation_Giving</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Contact_Matching</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_RecordType_is_Selected</name>
        <label>What RecordType is Selected?</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Individual_Stewardship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual Stewardship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Existing_Contact</targetReference>
            </connector>
            <label>Is Individual Stewardship</label>
        </rules>
        <rules>
            <name>Is_Organisation_Stewardship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organisation Stewardship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Account_Details</targetReference>
            </connector>
            <label>Is Organisation Stewardship</label>
        </rules>
    </decisions>
    <description>Screen flow to create New Stewardship Record</description>
    <dynamicChoiceSets>
        <name>MobileLocalePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ContactMobile_Locale__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StewardshipRecordtype</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual Stewardship</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organisation Stewardship</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stewardship__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SelectedRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Stewardship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Stewardship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Record</name>
        <label>Create Contact Record</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Check_Contact_Affiliation</targetReference>
        </connector>
        <inputReference>ContactToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Stewardship_Record</name>
        <label>Create Stewardship Record</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <assignRecordIdToReference>StewardshipRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Detail_Page_Navigation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountLookup.selectedRecordIdOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>Close_Date_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>ManagerLookup.selectedRecordIdOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>Objective_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SelectedRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date_Input</elementReference>
            </value>
        </inputAssignments>
        <object>Stewardship__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Person_Recordtype</name>
        <label>Get Person Recordtype</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Person</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ContactToCreate.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Collect_Account_Details</name>
        <label>Collect Account Details</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Account_Display_Text</targetReference>
        </connector>
        <fields>
            <name>AccountTextHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Account&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountLookup</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>identifier</name>
                <value>
                    <stringValue>StewardshipAccountLookupIdentifier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Complete this field.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>RecordType.Name = &apos;Business Organization&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Contact_Details</name>
        <label>Collect Contact Details</label>
        <locationX>644</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Create_Contact_Selected</targetReference>
        </connector>
        <fields>
            <name>AccountLookupInContactScreen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leftIconName</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>AccountLookup.selectedRecordOutput.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rightIconName</name>
                <value>
                    <stringValue>utility:close</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>identifier</name>
                <value>
                    <stringValue>StewardshipAccountLookupIdentifier</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_New_Contact</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create New Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactLookupOrganisationGiving</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplay</name>
                <value>
                    <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToSearch</name>
                <value>
                    <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>identifier</name>
                <value>
                    <stringValue>StewardshipOrganisationGivingLookupIdentifier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Complete this field.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search Contacts...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WorkEmail</name>
            <extensionName>c:flowWorkEmailField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mobile_Locale</name>
            <choiceReferences>MobileLocalePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mobile Locale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MobilePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^(\+)?(?:[0-9] ?(?:-)?){3,14}[0-9]$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Affiliation_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I understand that this contact will be affiliated to this Account.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please accept the affiliation condition in order to progress.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Affiliation_Checkbox}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Stewardship_Details</name>
        <label>Collect Stewardship Details</label>
        <locationX>578</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Stewardship_Record</targetReference>
        </connector>
        <fields>
            <name>Stewardship_Summary</name>
            <fieldText>Stewardship Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stewardship_Summary_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_Input</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ManagerLookup</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:flowLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplay</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToSearch</name>
                        <value>
                            <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>identifier</name>
                        <value>
                            <stringValue>StewardshipManagerLookupIndentifier</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>QUT_Staff__c = true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageWhenValueMissing</name>
                        <value>
                            <stringValue>Mandatory Field.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stewardship_Summary_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Date_Input</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Objective_Input</name>
                    <fieldText>Objective</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Match_Error_Screen</name>
        <label>Contact_Match_Error_Screen</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContactMatchError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(186, 5, 23);&quot;&gt;Contact with these details already exists. Please search for the contact with provided details.﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dont_Have_Access_Screen</name>
        <label>Dont Have Access Screen</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoAccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;Please be advise that you do not have permission to create Engagement. If you have concern, contact your administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record</name>
        <label>Record Type Selection</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_RecordType_is_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_a_record_type</name>
            <choiceReferences>StewardshipRecordtype</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultRecordTypeSelected</elementReference>
            </defaultValue>
            <fieldText>Select a record type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Existing_Contact</name>
        <label>Select Existing Contact</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Contact_Values_for_Individual_Stewardship_Record</targetReference>
        </connector>
        <fields>
            <name>ContactHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Contact&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactLookupIndividualGiving</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Complete this field.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search Contacts...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>RecordType.DeveloperName = &apos;Person&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplay</name>
                <value>
                    <elementReference>$Label.LWC_FlowLookupFieldsToDisplayForContactObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToSearch</name>
                <value>
                    <elementReference>$Label.LWC_FlowLookupFieldsToSearchForContactObject</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Modal_Title</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Contact_Affiliation</name>
        <label>Check Contact Affiliation</label>
        <locationX>644</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Collect_Stewardship_Details</targetReference>
        </connector>
        <flowName>Check_Contact_Affiliation</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountLookup.selectedRecordIdOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>JobTitle</name>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Detail_Page_Navigation</name>
        <label>Detail Page Navigation</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <flowName>Detail_Page_Navigation</flowName>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>StewardshipRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContactToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>modalTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StewardshipRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
