src/core-crm/flows/New_Related_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_Action</name>
        <label>Error Action</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Roll_Back_Records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>New Related Opportuntiy</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error On New Related Opportunity</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Cloned_Contextual_Roles</name>
        <label>Assign Cloned Contextual Roles</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ContextualRolesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Child_Contextual_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Child_Contextual_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Modal_Title</name>
        <label>Assign Modal Title</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>modalTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Role_RecordType_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Contextual_Roles</name>
        <label>Clone Contextual Roles</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Contextual_Roles.Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Contextual_Roles.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Contextual_Roles.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Contextual_Roles.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Role_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Cloned_Contextual_Roles</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ResearchOpportunityCommercialResearch</name>
        <choiceText>Commercial Research</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial Research</stringValue>
        </value>
    </choices>
    <choices>
        <name>ResearchOpportunityConsultancy</name>
        <choiceText>Consultancy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultancy</stringValue>
        </value>
    </choices>
    <choices>
        <name>ResearchOpportunityGrant</name>
        <choiceText>Grant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grant</stringValue>
        </value>
    </choices>
    <choices>
        <name>ResearchOpportunityMultifacetedPartnership</name>
        <choiceText>Multifaceted Partnership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multifaceted Partnership</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_new_contextual_roles</name>
        <label>Are there new contextual roles?</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Contextual_Roles</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contextual_Roles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_Object</name>
        <label>Check Parent Object</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Engagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engagement__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Engagement_Record</targetReference>
            </connector>
            <label>Is Engagement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_Recordtype</name>
        <label>Check Parent Recordtype</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Research_Partnership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Engagement_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research_Partnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Opportunity_Screen</targetReference>
            </connector>
            <label>Is Research Partnership</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContextualRolePickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contextual_Role__c</picklistField>
        <picklistObject>Contextual_Role__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateFromSixMonths</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!$Flow.CurrentDate}) + FLOOR((MONTH({!$Flow.CurrentDate}) + 5) / 12),
    MOD(MONTH({!$Flow.CurrentDate}) + 5, 12) + 1,
    DAY({!$Flow.CurrentDate})
)</expression>
    </formulas>
    <formulas>
        <name>FinalErrorMessage</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Flow.FaultMessage},&apos;restricted picklist field&apos;), &apos;One or more related Contextual Roles are not applicable for this opportunity. Please review and update accordingly.&apos;, {!$Flow.FaultMessage})</expression>
    </formulas>
    <interviewLabel>New Related Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Related Opportunity</label>
    <loops>
        <name>Loop_Through_Child_Contextual_Roles</name>
        <label>Loop Through Child Contextual Roles</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Child_Contextual_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_Contextual_Roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_new_contextual_roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contextual_Roles</name>
        <label>Create Contextual Roles</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <faultConnector>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputReference>ContextualRolesToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Loop_Through_Child_Contextual_Roles</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CurrentDateFromSixMonths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Identify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Contextual_Roles</name>
        <label>Get Child Contextual Roles</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Recordtype</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contextual_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Role_RecordType_Id</name>
        <label>Get Opportunity Role RecordType Id</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Object</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contextual_Role__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Role</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Engagement_Record</name>
        <label>Get Parent Engagement Record</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Contextual_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Records</name>
        <label>Roll Back Records</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!FinalErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Opportunity_Screen</name>
        <label>New Opportunity Screen</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity_Record</targetReference>
        </connector>
        <fields>
            <name>OppDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opportunity Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>ResearchOpportunityGrant</choiceReferences>
            <choiceReferences>ResearchOpportunityCommercialResearch</choiceReferences>
            <choiceReferences>ResearchOpportunityConsultancy</choiceReferences>
            <choiceReferences>ResearchOpportunityMultifacetedPartnership</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Modal_Title</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContextualRoleList</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContextualRolesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contextual_Role__c</objectType>
    </variables>
    <variables>
        <name>DynamicDataTableInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>modalTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
