src/core-crm/flows/Pre_session_Reminder_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_and_PDF_for_Pre_Session_Confirmation</name>
        <label>Send Email and PDF for Pre Session Confirmation</label>
        <locationX>704</locationX>
        <locationY>1356</locationY>
        <actionName>PreSessionReminderEmailCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Session_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>courseConnectionParams</name>
            <value>
                <elementReference>generatePDFEmailArgs</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignValuetoEmail</name>
        <label>AssignValuetoEmail</label>
        <locationX>748</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>LearnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Course_Connection.hed__Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LearnerFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Course_Connection.hed__Contact__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LearnerLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Course_Connection.hed__Contact__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Course_Connection.Course_Offering_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseOfferingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Course_Connection.Course_Offering_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseOfferingStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Course_Connection.Course_Offering_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Course_Connection.hed__Course_Offering__r.Delivery_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Send_Email_Before_Session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmailPDFArgs</name>
        <label>setEmailPDFArgs</label>
        <locationX>704</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>generatePDFEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Course_Connection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>generatePDFEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Course_Connection.Course_Offering_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>generatePDFEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Course_Connection.hed__Contact__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>generatePDFEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Course_Connection.hed__Contact__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>generatePDFEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Course_Connection.hed__Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_and_PDF_for_Pre_Session_Confirmation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_No_of_Days_0</name>
        <label>Check No of Days</label>
        <locationX>836</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Loop_Session_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - No. of Days is equal to Email Days</defaultConnectorLabel>
        <rules>
            <name>Yes_No_of_Days_is_equal_to_Email_Days_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfDays</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setEmailPDFArgs</targetReference>
            </connector>
            <label>Yes - No. of Days is equal to Email Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Send_Email_Before_Session</name>
        <label>Check Send Email Before Session</label>
        <locationX>748</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Loop_Course_Connection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Send Email Before Session is false</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Email_Before_Session_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Comm_Schedule.Send_email_before_session__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Session_Records</targetReference>
            </connector>
            <label>Yes - Send Email Before Session is True</label>
        </rules>
    </decisions>
    <formulas>
        <name>NoOfDays</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Session_Record.Start_Time__c} - {!$Flow.CurrentDateTime}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Pre-session Reminder Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre-session Reminder Email Flow</label>
    <loops>
        <name>Loop_Course_Connection</name>
        <label>Loop Course Connection</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Course_Connection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Comm_Schedule</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Session_Record</name>
        <label>Loop Session Record</label>
        <locationX>616</locationX>
        <locationY>996</locationY>
        <collectionReference>Get_Session_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_No_of_Days_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Course_Connection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Comm_Schedule</name>
        <label>Get Comm Schedule</label>
        <locationX>748</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignValuetoEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Course_Connection.hed__Course_Offering__r.hed__Course__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Communication_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Connection</name>
        <label>Get Course Connection</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Course_Connection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Course_Offering_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Course_Offering_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Session_Records</name>
        <label>Get Session Records</label>
        <locationX>616</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Session_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Course_Connection.hed__Course_Offering__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Connection</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-28</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FaceToFaceConfirmationEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!LearnerFirstName}&lt;/span&gt; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!LearnerLastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;This is a notification that  &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!CourseName} will start on &lt;/span&gt;{!CourseOfferingStartDate}&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Should you have any questions, please feel free to contact the QUTeX team using the details below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Kind regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The QUTeX Team&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Phone: + 61 7 3138 7733 | Email:&amp;nbsp;qutex@qut.edu.au &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;QUTeX Professional and Executive Education for the Real World | &lt;/span&gt;&lt;a href=&quot;http://www.qut.edu.au/qutex&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; background-color: white;&quot;&gt;&lt;u&gt;QUTeX - Professional and executive education&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://urldefense.com/v3/__https:/www.linkedin.com/showcase/14561011/admin/__;!!NVzLfOphnbDXSw!S2Oc_0k2Ez2JnxU4z2HSlUyYOm6u1c5Asb4fYEkgLGtrj25mmhLc9oTRrIlXGHeEYPrDdfY$&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Follow&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; QUTeX on LinkedIn | &lt;/span&gt;&lt;a href=&quot;https://alumni-and-friends.qut.edu.au/qutex-connect-subscription&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Subscribe&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; to the QUTeX Connect Newsletter&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>samplebody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;sample&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CourseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CourseOfferingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CourseOfferingStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeliveryType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>generatePDFEmailArgs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LearnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LearnerEmail2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LearnerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LearnerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopCourseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
