src/core-crm/flows/Primary_Business_Org_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Is_an_Administrative_Account</name>
        <label>Is an Administrative Account?</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>ACR_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AnAdministrativeAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACR_Loop.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Administrative_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if primary business organization is updated</description>
        <name>is_Primary_Business_Organization_Updated</name>
        <label>is Primary Business Organization Updated?</label>
        <locationX>402</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.hed__Primary_Organization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.hed__Primary_Organization__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Primary_Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Related_ACRs</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
        <rules>
            <name>is_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.hed__Primary_Organization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.hed__Primary_Organization__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Primary_Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_ACRs_Not_Linked_To_Parent_Account</targetReference>
            </connector>
            <label>is Removed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there are no other related ACRs.</description>
        <name>Is_Related_ACR_Empty</name>
        <label>Is Related ACR Empty?</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_ACR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_ACRs_Not_Linked_To_Parent_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Other_ACRs_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Trigger Flow when contact record&apos;s primary business organization is removed or updated.</description>
    <interviewLabel>Contact Primary Business Organization Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Primary Business Organization After Update</label>
    <loops>
        <description>Loop through ACRs</description>
        <name>ACR_Loop</name>
        <label>ACR Loop</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>All_Related_ACRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_an_Administrative_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Old_Affiliation_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Administrative_Account</name>
        <label>Delete Administrative Account</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>ACR_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ACR_Loop.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordDeletes>
        <description>Delete ACRs not linked to the Parent Account</description>
        <name>Delete_Other_ACRs_0</name>
        <label>Delete Other ACRs</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Parent_Account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
    </recordDeletes>
    <recordLookups>
        <name>All_Related_ACRs</name>
        <label>All Related ACRs</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deactivate_All_ACRs_not_Related_to_the_Primary_Business_Org</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_ACRs_Not_Linked_To_Parent_Account</name>
        <label>Related ACRs Not Linked To Parent Account</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Related_ACR_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update old acr to inactive.</description>
        <name>Deactivate_All_ACRs_not_Related_to_the_Primary_Business_Org</name>
        <label>Deactivate All ACRs not Related to the Primary Business Org</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Parent_Account_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.hed__Primary_Organization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <recordUpdates>
        <description>update old affiliation&apos;s end date to today.</description>
        <name>Update_Old_Affiliation_0_0</name>
        <label>Update Old Affiliation</label>
        <locationX>402</locationX>
        <locationY>1463</locationY>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>hed__Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.hed__Primary_Organization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__EndDate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>hed__EndDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Status__c</field>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Affiliation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Account_0</name>
        <label>Update Parent Account</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Update_Old_Affiliation_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.hed__Primary_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Account_0_0</name>
        <label>Update Parent Account</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>ACR_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.hed__Primary_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Primary_Business_Organization_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Primary_Organization__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
