src/core-crm/flows/Send_Email_Upon_Short_Course_Design_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_QUTeX</name>
        <label>Send to QUTeX</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OwnerConfirmationEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>wingerden@mailinator.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[QUTeX] Design Form Received</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>is_Short</name>
        <label>is Short Course Record</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Short_Course_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Design_Form_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Form Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Name</targetReference>
            </connector>
            <label>Short Course Record</label>
        </rules>
    </decisions>
    <formulas>
        <name>ProductRequestURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510)) &amp;{!$Record.ProductRequestID__r.Id}</expression>
    </formulas>
    <interviewLabel>Send Email Upon Short Course Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Upon Short Course Design Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Short_Course_RecordType</name>
        <label>Get Short Course RecordType</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Short</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Short_Course</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Name</name>
        <label>Get User Name</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_to_QUTeX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductRequestID__r.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Short_Course_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Form_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Design Form Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Design_Form_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>hed__Course__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OwnerConfirmationEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear &lt;b&gt;{!Get_User_Name.Name}&lt;/b&gt;,
&lt;br/&gt;&amp;nbsp;
&lt;p&gt;The requestor has completed the design form for &lt;b&gt;{!$Record.Proposal_Title__c}&lt;/b&gt;, please log into DEP to proceed with this product request &lt;b&gt;&lt;a href={!ProductRequestURL}&gt;{!$Record.ProductRequestID__r.Name}&lt;/a&gt;&lt;/b&gt;.&lt;/p&gt;

&lt;br/&gt;
&lt;p&gt;Kind Regards,&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequestorConfirmationEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear &lt;b&gt;{!$Record.ProductRequestID__r.Owner:User.FirstName}&lt;/b&gt;,
&lt;br/&gt;&amp;nbsp;
&lt;p&gt; Your form has been successfully submitted. A member of our team will be in touch with you shortly.&lt;/p&gt;

&lt;p&gt;
&lt;b&gt;The QUTeX Team&lt;/b&gt;&lt;br/&gt;
07 3138 7733&lt;br/&gt;
&lt;a href=&quot;mailto:qutex@qut.edu.au&quot;&gt;qutex@qut.edu.au&lt;/a&gt;&lt;br/&gt;
&lt;a href=&quot;https://qut.edu.au/qutex&quot;&gt;qut.edu.au/qutex&lt;/a&gt;
&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
