src/core-crm/flows/Send_Email_Upon_Idea_Received.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Requestor</name>
        <label>Send Email to Requestor</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <actionName>FlowEmailHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sent_Email_to_QUT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Idea Submitted - Requestor</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeFields</name>
            <value>
                <elementReference>RequestorMergeFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>Get_Org_Wide_Email_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmailAddresses</name>
            <value>
                <elementReference>RequestorEmailAddresses</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sent_Email_to_QUT</name>
        <label>Sent Email to QUT</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <actionName>FlowEmailHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Idea Submitted - QUT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeFields</name>
            <value>
                <elementReference>QUTMergeFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>Get_Org_Wide_Email_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmailAddresses</name>
            <value>
                <elementReference>QUTEmailAddresses</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Merge_Fields_and_Email_Addresses</name>
        <label>Add Merge Fields and Email Addresses</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>RequestorMergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequestorFirstNameMergeField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestorMergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IdeaSummaryMergeField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QUTMergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductSpecificationNameMergeField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QUTMergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductSpecificationLinkMergeField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestorEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Requestor_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QUTEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Setup.Flow_Automation_Settings__c.New_Idea_To_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Requestor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merge_Fields</name>
        <label>Assign Merge Fields</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ProductSpecificationNameMergeField.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{productSpecificationName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductSpecificationNameMergeField.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductSpecificationLinkMergeField.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{productSpecificationLink}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductSpecificationLinkMergeField.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductSpecificationURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestorFirstNameMergeField.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{requestorFirstName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestorFirstNameMergeField.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requestor_Name__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdeaSummaryMergeField.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{productSpecificationIdeaSummary}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdeaSummaryMergeField.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdeaSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Merge_Fields_and_Email_Addresses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Idea_Received_Status</name>
        <label>Idea Received Status</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_OPE_Recordtype.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>IdeaSummary</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Idea_Summary__c} != null,{!$Record.Idea_Summary__c},&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>ProductSpecificationURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510)) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Send Email Upon Idea Received {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Upon Idea Received</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OPE_Recordtype</name>
        <label>Get OPE Recordtype</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Idea_Received_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPE_Program_Specification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Wide_Email_ID</name>
        <label>Get Org Wide Email ID</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Merge_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Flow_Automation_Settings__c.New_Idea_To_Email_Address__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queues</name>
        <label>get Queues</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OPE_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPE_Product_Design</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_Queues.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Idea</stringValue>
            </value>
        </filters>
        <object>Product_Specification__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IdeaSummaryMergeField</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductSpecificationLinkMergeField</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductSpecificationNameMergeField</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QUTEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QUTMergeFields</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestorEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestorFirstNameMergeField</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestorMergeFields</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
