src/core-crm/flows/Send_Design_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Design_Form_Email</name>
        <label>Send Design Form Email</label>
        <locationX>2294</locationX>
        <locationY>1766</locationY>
        <actionName>FlowEmailHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_what_object</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Design_Form_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Send Design Form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeFields</name>
            <value>
                <elementReference>MergeFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>Get_Org_Wide_Email_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmailAddresses</name>
            <value>
                <elementReference>EmailAddresses</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Activity_For_External</name>
        <label>Activity For External</label>
        <locationX>754</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Activity_Design_Form_Link_External</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activity_For_Internal</name>
        <label>Activity For Internal</label>
        <locationX>1018</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Activity_Design_Form_Link_Internal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Merge_Fields_and_Email</name>
        <label>Add Merge Fields and Email</label>
        <locationX>2294</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstNameMergeField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DesignFormLinkMergeField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Design_Form_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_External_Email_Address_0</name>
        <label>Assign External Email Address</label>
        <locationX>3944</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Name__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Name__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Assigned_Requestor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Internal_Email_Address_0</name>
        <label>Assign Internal Email Address</label>
        <locationX>3680</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Name__r.QUT_Staff_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Name__r.QUT_Staff_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Assigned_Requestor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merge_Fields</name>
        <label>Assign Merge Fields</label>
        <locationX>2294</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>FirstNameMergeField.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{requestorFirstName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstNameMergeField.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Name__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignFormLinkMergeField.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{designFormLink}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DesignFormLinkMergeField.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Merge_Fields_and_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_External_FA_Link</name>
        <label>Get External FA Link</label>
        <locationX>3834</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Setup.Individual_Coaching_Form_Link__c.External_URL__c}?id={!recordId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Internal_FA_Link</name>
        <label>Get Internal FA Link</label>
        <locationX>3570</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Setup.Individual_Coaching_Form_Link__c.Internal_URL__c}?id={!recordId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Module_for_External</name>
        <label>Module for External</label>
        <locationX>1458</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Module_Design_Form_Link_External</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Module_for_Internal</name>
        <label>Module for Internal</label>
        <locationX>1722</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Module_Design_Form_Link_Internal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Program_for_External</name>
        <label>Program for External</label>
        <locationX>2866</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Design_Form_Link_External</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Program_for_Internal</name>
        <label>Program for Internal</label>
        <locationX>3130</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Design_Form_Link_Internal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Short_Course_for_External</name>
        <label>Short Course for External</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Short_Course_Design_Form_Link_External</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Short_Course_For_Internal</name>
        <label>Short Course For Internal</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Short_Course_Design_Form_Link_Internal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unit_for_External</name>
        <label>Unit for External</label>
        <locationX>2162</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_Design_Form_Link_External</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unit_for_Internal</name>
        <label>Unit for Internal</label>
        <locationX>2426</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_Design_Form_Link_Internal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activity_Internal_or_External</name>
        <label>Activity Internal or External</label>
        <locationX>1018</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actvity_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_For_External</targetReference>
            </connector>
            <label>Actvity External</label>
        </rules>
        <rules>
            <name>Activity_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_For_Internal</targetReference>
            </connector>
            <label>Activity Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Request_RecordType</name>
        <label>Check Product Request RecordType</label>
        <locationX>2294</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Short_Course</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Short_Course</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Short_Course_Internal_or_External</targetReference>
            </connector>
            <label>is Short Course</label>
        </rules>
        <rules>
            <name>is_Activity_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_Internal_or_External</targetReference>
            </connector>
            <label>is Activity Request</label>
        </rules>
        <rules>
            <name>is_Module_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Module</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Module_Internal_or_External</targetReference>
            </connector>
            <label>is Module</label>
        </rules>
        <rules>
            <name>is_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Internal_or_External</targetReference>
            </connector>
            <label>is Unit</label>
        </rules>
        <rules>
            <name>is_Program_plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_Internal_or_External</targetReference>
            </connector>
            <label>is Program plan</label>
        </rules>
        <rules>
            <name>is_Individual_Coaching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Coaching</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Individual_Coaching_Internal_or_External</targetReference>
            </connector>
            <label>is Individual Coaching</label>
        </rules>
    </decisions>
    <decisions>
        <name>Course_Design_Sent</name>
        <label>Course Design Sent</label>
        <locationX>2426</locationX>
        <locationY>2126</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course_Record.Design_Form_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Design_Form_Sent</targetReference>
            </connector>
            <label>Not Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Assigned_Requestor</name>
        <label>Has Assigned Requestor</label>
        <locationX>3812</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Req_Name_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Name__r.ContactMobile_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Design_Form_Screen</targetReference>
            </connector>
            <label>Has Req Name Assigned</label>
        </rules>
        <rules>
            <name>Has_No_Req_Name_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Name__r.ContactMobile_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_No_Requestor</targetReference>
            </connector>
            <label>Has No Req Name Assigned</label>
        </rules>
        <rules>
            <name>Mobile_Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Name__r.ContactMobile_Validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Valid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Not_Valid_Error</targetReference>
            </connector>
            <label>Mobile Not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Individual_Coaching_Internal_or_External</name>
        <label>Individual Coaching Internal or External</label>
        <locationX>3834</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Internal_FA_Link</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
        <rules>
            <name>External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_External_FA_Link</targetReference>
            </connector>
            <label>External</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Program_Design_Sent</name>
        <label>Is Program Design Sent</label>
        <locationX>1634</locationX>
        <locationY>2126</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_Plan_Record.PP_Design_Form_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Program_Plan_Design_Form_Status</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>isInternalOrExternal_0</name>
        <label>isInternalOrExternal</label>
        <locationX>3812</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_External_Email_Address_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>External Requestor</defaultConnectorLabel>
        <rules>
            <name>Internal_Requestor_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Email_Address_0</targetReference>
            </connector>
            <label>Internal Requestor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Module_Internal_or_External</name>
        <label>Module Internal or External</label>
        <locationX>1722</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Module_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Module_for_External</targetReference>
            </connector>
            <label>Module External</label>
        </rules>
        <rules>
            <name>Module_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Module_for_Internal</targetReference>
            </connector>
            <label>Module Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Internal_or_External</name>
        <label>Program Internal or External</label>
        <locationX>3130</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Program_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_for_External</targetReference>
            </connector>
            <label>Program External</label>
        </rules>
        <rules>
            <name>Program_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_for_Internal</targetReference>
            </connector>
            <label>Program Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Short_Course_Internal_or_External</name>
        <label>Short Course Internal or External</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Short_Course_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Short_Course_for_External</targetReference>
            </connector>
            <label>Short Course External</label>
        </rules>
        <rules>
            <name>Short_Course_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Short_Course_For_Internal</targetReference>
            </connector>
            <label>Short Course Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Internal_or_External</name>
        <label>Unit Internal or External</label>
        <locationX>2426</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Org_Wide_Email_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_for_External</targetReference>
            </connector>
            <label>Unit External</label>
        </rules>
        <rules>
            <name>Unit_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Record.Product_Specification__r.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_for_Internal</targetReference>
            </connector>
            <label>Unit Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_what_object</name>
        <label>Update what object</label>
        <locationX>2294</locationX>
        <locationY>1886</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Program_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isForProgramPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Program_Plan_Record</targetReference>
            </connector>
            <label>For Program Plan</label>
        </rules>
        <rules>
            <name>For_Course</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isForProgramPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Course_Record</targetReference>
            </connector>
            <label>For Course</label>
        </rules>
    </decisions>
    <interviewLabel>Product Request Send De {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Design Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Course_Record</name>
        <label>Get Course Record</label>
        <locationX>2426</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Course_Design_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductRequestID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Request_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Wide_Email_ID</name>
        <label>Get Org Wide Email ID</label>
        <locationX>2294</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Merge_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Flow_Automation_Settings__c.New_Idea_To_Email_Address__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Request_Record</name>
        <label>Get Product Request Record</label>
        <locationX>3812</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isInternalOrExternal_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Product_Request_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Plan_Record</name>
        <label>Get Program Plan Record</label>
        <locationX>1634</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Program_Design_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Request_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Program_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Program_Plan_Design_Form_Status</name>
        <label>Update Program Plan Design Form Status</label>
        <locationX>1370</locationX>
        <locationY>2246</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Design_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Request_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PP_Design_Form_Status__c</field>
            <value>
                <stringValue>Design Form Sent</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Program_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Design_Form_Sent</name>
        <label>Update Status to Design Form Sent</label>
        <locationX>2162</locationX>
        <locationY>2246</locationY>
        <faultConnector>
            <targetReference>Update_Design_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductRequestID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Request_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_Form_Status__c</field>
            <value>
                <stringValue>Design Form Sent</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Course__c</object>
    </recordUpdates>
    <screens>
        <name>Design_Form_Error</name>
        <label>Design Form Error</label>
        <locationX>4538</locationX>
        <locationY>1886</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Design_Error_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(202, 5, 5);&quot;&gt;Sorry we can&apos;t process your request at the time. Please try again later.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_No_Requestor</name>
        <label>Has No Requestor</label>
        <locationX>4802</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Req</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please assign &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Requestor Name&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; to Proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mobile_Not_Valid_Error</name>
        <label>Mobile Not Valid Error</label>
        <locationX>5066</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Valid_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please ensure that &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Requestor Mobile&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; is Valid.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Request_Error</name>
        <label>Product Request Error</label>
        <locationX>5594</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PR_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(202, 5, 5); font-size: 16px;&quot;&gt;Sorry we can&apos;t process your request at the time. Please try again later.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Design_Form_Screen</name>
        <label>Send Design Form Screen</label>
        <locationX>2294</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Product_Request_RecordType</targetReference>
        </connector>
        <fields>
            <name>Requestor_Details</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Send Design Form to &lt;/span&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Product_Request_Record.Product_Specification__r.Requestor_Name__r.FirstName} {!Get_Product_Request_Record.Product_Specification__r.Requestor_Name__r.LastName} &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;({!DisplayEmailAddress})?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Design_Error</name>
        <label>Update  Design Error</label>
        <locationX>2426</locationX>
        <locationY>2366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Update_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(202, 5, 5);&quot;&gt;Sorry we can&apos;t process your request at the time. Please try again later.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3686</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Request_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Activity_Design_Form_Link_External</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qut.tfaforms.net/f/activity-request-form-external?id={!Get_Product_Request_Record.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Activity_Design_Form_Link_Internal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qut.tfaforms.net/f/activity-request-form?id={!Get_Product_Request_Record.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <name>DesignFormLinkMergeField</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisplayEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstNameMergeField</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isForProgramPlan</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MergeFields</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Module_Design_Form_Link_External</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qut.tfaforms.net/f/module-form-external?id={!Get_Product_Request_Record.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Module_Design_Form_Link_Internal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qut.tfaforms.net/f/module-form?id={!Get_Product_Request_Record.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Program_Design_Form_Link_External</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qut.tfaforms.net/f/program-design-form-external?id={!Get_Product_Request_Record.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Program_Design_Form_Link_Internal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qut.tfaforms.net/f/program-design-form?id={!Get_Product_Request_Record.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Short_Course_Design_Form_Link_External</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qut.tfaforms.net/f/short-course-form-external?id={!Get_Product_Request_Record.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Short_Course_Design_Form_Link_Internal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qut.tfaforms.net/f/short-course-form?id={!Get_Product_Request_Record.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Unit_Design_Form_Link_External</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qut.tfaforms.net/f/unit-form-external?id={!Get_Product_Request_Record.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Unit_Design_Form_Link_Internal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://qut.tfaforms.net/f/unit-form?id={!Get_Product_Request_Record.Id}</stringValue>
        </value>
    </variables>
</Flow>
