src/core-crm/flows/Send_Idea_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Requestor</name>
        <label>Send Email to Requestor</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <actionName>FlowEmailHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Status_Value</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Send Idea Form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeFields</name>
            <value>
                <elementReference>MergeFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>Get_Org_Wide_Email_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmailAddresses</name>
            <value>
                <elementReference>EmailAddresses</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Merge_Fields</name>
        <label>Add Merge Fields</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequestorFirstNameMergeField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IdeaFormLinkMergeField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Requestor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Requestor_Email</name>
        <label>Add Requestor Email</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product_Specification_Details.Requestor_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Staff_Email</name>
        <label>Add Staff Email</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product_Specification_Details.QUT_Staff_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_Wide_Email_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merge_Fields</name>
        <label>Assign Merge Fields</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>RequestorFirstNameMergeField.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{requestorFirstName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestorFirstNameMergeField.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Specification_Details.Requestor_Name__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdeaFormLinkMergeField.mergeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{ideaFormLink}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdeaFormLinkMergeField.mergeFieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_URL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Merge_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>External_URL</name>
        <label>External URL</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Endpoint_URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Setup.Idea_Form_Url_Setting__c.External_Url__c}?id={!recordId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>External_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Internal_URL</name>
        <label>Internal URL</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Endpoint_URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Setup.Idea_Form_Url_Setting__c.Internal_Url__c}?id={!recordId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_Value</name>
        <label>Update Status Value</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Specification_Details.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Idea Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_Specification_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Requestor_Type</name>
        <label>Requestor Type</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.Requestor_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.QUT_Staff_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_URL</targetReference>
            </connector>
            <label>Internal Requestor</label>
        </rules>
        <rules>
            <name>External_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.Requestor_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.Requestor_Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.Requestor_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_URL</targetReference>
            </connector>
            <label>External Requestor</label>
        </rules>
        <rules>
            <name>No_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.Requestor_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Requestor_Assigned</targetReference>
            </connector>
            <label>No Requestor</label>
        </rules>
        <rules>
            <name>No_QUT_Staff_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.QUT_Staff_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qut_Staff_Email_Display</targetReference>
            </connector>
            <label>No QUT Staff Email</label>
        </rules>
        <rules>
            <name>No_Email_and_Mobile</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.Requestor_Internal_External__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.Requestor_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Specification_Details.Requestor_Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_And_Moblie_Display</targetReference>
            </connector>
            <label>No Email and Mobile</label>
        </rules>
    </decisions>
    <interviewLabel>Send Idea Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Idea Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Org_Wide_Email_Id</name>
        <label>Get Org Wide Email Id</label>
        <locationX>710</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Merge_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Flow_Automation_Settings__c.New_Idea_To_Email_Address__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Specification_Details</name>
        <label>Get Product Specification Details</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requestor_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unhandled_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Specification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Specification_Record</name>
        <label>Update Product Specification Record</label>
        <locationX>710</locationX>
        <locationY>1454</locationY>
        <faultConnector>
            <targetReference>Unhandled_Error</targetReference>
        </faultConnector>
        <inputReference>Get_Product_Specification_Details</inputReference>
    </recordUpdates>
    <screens>
        <name>Email_And_Moblie_Display</name>
        <label>Email And Moblie Display</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Email_And_Mobile_Required</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Requestor Email &lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;and&lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; Requestor Mobile&lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;are required to Proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>External_Display</name>
        <label>External Display</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Requestor_Email</targetReference>
        </connector>
        <fields>
            <name>External_contact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Send Idea Form to &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Product_Specification_Details.Requestor_Name__r.FirstName} {!Get_Product_Specification_Details.Requestor_Name__r.LastName} &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;(&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Product_Specification_Details.Requestor_Name__r.Email}&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;)?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Internal_Display</name>
        <label>Internal Display</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Staff_Email</targetReference>
        </connector>
        <fields>
            <name>Internal_Contact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Send Idea Form to &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Product_Specification_Details.Requestor_Name__r.FirstName} {!Get_Product_Specification_Details.Requestor_Name__r.LastName} &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;(&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Product_Specification_Details.Requestor_Name__r.QUT_Staff_Email__c}&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;)?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Requestor_Assigned</name>
        <label>No Requestor Assigned</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Requestor_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Please assign &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Requestor Name&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt; to Proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Qut_Staff_Email_Display</name>
        <label>Qut Staff Email Display</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Qut_Staff_Email_Required</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;QUT Staff Email&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;is required to Proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unhandled_Error</name>
        <label>Unhandled Error</label>
        <locationX>1634</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Sorry we can&apos;t process your request at the time. Please try again later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Specification_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Form_URL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web (West European)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 15px;&quot;&gt;{!Endpoint_URL}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Endpoint_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdeaFormLinkMergeField</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeFields</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestorFirstNameMergeField</name>
        <apexClass>FlowEmailMergeField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
