src/core-crm/flows/Send_Email_on_Regis_Confirmation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_for_Registration_Confirmation</name>
        <label>Send Email for Registration Confirmation</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>RegistrationConfirmationEmailCtrl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>courseConnectionParams</name>
            <value>
                <elementReference>generateEmailArgs</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>LearnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Course_Conn_Record.hed__Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Comm_Sched_Detail.Course__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LearnerFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Course_Conn_Record.hed__Contact__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LearnerLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Course_Conn_Record.hed__Contact__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmation Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Amount2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountDefault</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Registration_Email_option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmailArgs</name>
        <label>setEmailArgs</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>generateEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Course_Conn_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>generateEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Course_Conn_Record.Course_Offering_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>generateEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaidInFullDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>generateEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Course_Conn_Record.hed__Contact__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>generateEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Course_Conn_Record.hed__Contact__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>generateEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Amount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>generateEmailArgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Course_Conn_Record.hed__Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_for_Registration_Confirmation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_RecordType</name>
        <label>Check RecordType</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No Record Type is not student</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Type_is_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course_Conn_Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Comm_Sched_Detail</targetReference>
            </connector>
            <label>Yes Record Type is Student</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Registration_Email_option</name>
        <label>Check Registration Email option</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>No - Registration Email is false</defaultConnectorLabel>
        <rules>
            <name>Yes_Registration_Email_is_Ture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Comm_Sched_Detail.Email_on_Registration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setEmailArgs</targetReference>
            </connector>
            <label>Yes - Registration Email is True</label>
        </rules>
    </decisions>
    <formulas>
        <name>AmountDefault</name>
        <dataType>Number</dataType>
        <expression>if(
isblank({!Get_Course_Conn_Record.Amount__c}),
0.00,
   {!Get_Course_Conn_Record.Amount__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaidInFullDefault</name>
        <dataType>String</dataType>
        <expression>if(  isblank(TEXT({!Get_Course_Conn_Record.Paid_in_Full__c})  ),
&quot;No&quot;,
TEXT({!Get_Course_Conn_Record.Paid_in_Full__c})
)</expression>
    </formulas>
    <interviewLabel>Send Email on Regis Confirmation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email on Regis Confirmation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Comm_Sched_Detail</name>
        <label>Get_Comm_Sched_Detail</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Course_Offering__r.hed__Course__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Communication_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Conn_Record</name>
        <label>Get Course Conn Record</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Conn_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RegistrationConfirmationEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!LearnerFirstName} &lt;/span&gt;{!LearnerLastName} ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Thank you for registering your interest in &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!CourseName}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; .&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;An email will be sent to you when the course is available for registration.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Should you have any questions, please feel free to contact the QUTeX team using the details below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Kind regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The QUTeX Team&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Phone: + 61 7 3138 7733 | Email:&amp;nbsp;qutex@qut.edu.au &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;QUTeX Professional and Executive Education for the Real World | &lt;/span&gt;&lt;a href=&quot;http://www.qut.edu.au/qutex&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: white; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;&lt;u&gt;QUTeX - Professional and executive education&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://urldefense.com/v3/__https:/www.linkedin.com/showcase/14561011/admin/__;!!NVzLfOphnbDXSw!S2Oc_0k2Ez2JnxU4z2HSlUyYOm6u1c5Asb4fYEkgLGtrj25mmhLc9oTRrIlXGHeEYPrDdfY$&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Follow&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; QUTeX on LinkedIn | &lt;/span&gt;&lt;a href=&quot;https://alumni-and-friends.qut.edu.au/qutex-connect-subscription&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Subscribe&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; to the QUTeX Connect Newsletter&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Course_Conn_Record.Amount__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Amount2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CourseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>generateEmailArgs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LearnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LearnerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LearnerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
