src/core-crm/flows/Update_Product_from_Course.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Product_Category_as_Learning_Solution</name>
        <label>Assign Product Category as Learning Solution</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Product_Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUTeX Learning Solutions</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Category_As_Tailored_0</name>
        <label>Assign Product Category As Tailored</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Product_Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tailored Executive Program</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Parent_Record_Type</name>
        <label>Check Parent Record Type</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Check_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Standing_Offer_Arrangement</name>
            <conditionLogic>1 AND 3 AND ( 2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Product_Requests.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Product_Requests.Program__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standing_Offer_Arrangement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Specification__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Grand_Parent_Product_Request.Program__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standing_Offer_Arrangement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Category_as_Learning_Solution</targetReference>
            </connector>
            <label>Is Standing Offer Arrangement</label>
        </rules>
        <rules>
            <name>Is_CCE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Specification__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Category_As_Tailored_0</targetReference>
            </connector>
            <label>Is CCE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activity_Short_Course_Unit_Module</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Short_Course</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Module</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Coaching</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diagnostic_Tool</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group_Coaching</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Course</targetReference>
            </connector>
            <label>Activity, Short Course, Unit, Module</label>
        </rules>
        <rules>
            <name>Program_Plan</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program_Without_Pathway</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Program_Plan</targetReference>
            </connector>
            <label>Program Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Parent</name>
        <label>Has Parent</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Check_Parent_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Product_Requests.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Grand_Parent_Product_Request</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Product from Course {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product from Course</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Course_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductRequestID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mark_Design_Stage_as_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Grand_Parent_Product_Request</name>
        <label>Get Grand Parent Product Request</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Product_Requests.Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Related_Product_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Plan</name>
        <label>Get Program Plan</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Program_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mark_Design_Stage_as_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Program_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Product_Requests</name>
        <label>Get Related Product Requests</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Related_Product_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Product</name>
        <label>Update Course Product</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Core_Concepts__c</field>
            <value>
                <elementReference>Get_Course.Core_Conceptsv2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Course.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Get_Course.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evolve_with_QUTeX__c</field>
            <value>
                <elementReference>Get_Course.Evolve_with_QUTeXv2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>More_Details__c</field>
            <value>
                <elementReference>Get_Course.More_Detailsv2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Course.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview__c</field>
            <value>
                <elementReference>Get_Course.Overviewv2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>Product_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Get_Course.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_Should_Participate__c</field>
            <value>
                <elementReference>Get_Course.Who_Should_Participatev2__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Product</name>
        <label>Update Program Product</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Program_Plan.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Core_Concepts__c</field>
            <value>
                <elementReference>Get_Program_Plan.Core_Conceptsv2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Program_Plan.hed__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Get_Program_Plan.hed__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evolve_with_QUTeX__c</field>
            <value>
                <elementReference>Get_Program_Plan.Evolve_with_QUTeXv2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>More_Details__c</field>
            <value>
                <elementReference>Get_Program_Plan.More_Detailsv2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Program_Plan.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview__c</field>
            <value>
                <elementReference>Get_Program_Plan.Overviewv2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>Product_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Get_Program_Plan.hed__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_Should_Participate__c</field>
            <value>
                <elementReference>Get_Program_Plan.Who_Should_Participatev2__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Product_Requests</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Release</stringValue>
            </value>
        </filters>
        <object>Product_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Product_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
